{% extends 'mail.html.twig' %}

{% block content %}
    {{ 'mail.password_reset.greeting'|trans|raw }}<br />

    <p>{{ 'mail.password_reset.warning'|trans|raw }}</p>
    <p>{{ 'mail.password_reset.content'|trans|raw }}</p>

    {% set link = url('security-password-change', {'code': code}) %}
    <a href="{{ link }}">{{ link }}</a>

    <p>{{ 'mail.password_reset.footer'|trans|raw }}</p>
    <p>{{ 'mail.password_reset.thanks'|trans|raw }}</p>
{% endblock %}