{% extends 'app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}

    <div class="page-content">
        <div class="container-fluid">

            {{ include('partials/page-title.html.twig', {pagetitle: 'page_title.portfolios'|trans, title: 'page_title.portfolios'|trans}) }}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card" id="usersList">
                        <div class="card-header  border-0">
                            <div class="d-md-flex align-items-center">
                                <h5 class="card-title mb-3 mb-md-0 flex-grow-1">{{ 'title.portfolio_archive'|trans }}</h5>
                                <div class="flex-shrink-0">
                                    <div class="d-flex gap-1 flex-wrap">
                                        <button type="button" class="btn btn-dark add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> {{'button.create_portfolio'|trans }}</button>
                                        <a href="{{ path('admin_portfolios_csv_export') }}" class="btn btn-soft-dark"><i class="ri-file-download-line align-bottom me-1"></i>Export</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body border border-dashed border-end-0 border-start-0">
                            <form method="get">
                                <div class="row g-3">
                                    <div class="col-xxl-5 col-sm-6">
                                        <div class="search-box">
                                            <input type="text" class="form-control search" name="query" value="{{ app.request.get('query') }}" placeholder="{{ 'text.search'|trans }}">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xxl-1 col-sm-4">
                                        <div>
                                            <button type="submit" class="btn btn-dark w-100"> <i class="ri-equalizer-fill me-1 align-bottom"></i>
                                                {{ 'button.find'|trans }}
                                            </button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>

                        <div class="card-body">
                            <div>

                                <div class="table-responsive table-card mb-1">
                                    <table class="table table-nowrap align-middle" id="portfolioListTable">
                                        <thead class="text-muted table-light">
                                            <tr class="text-uppercase">
                                                <th scope="col" style="width: 25px;">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                    </div>
                                                </th>
                                                <th class="sort" data-sort="id" style="width: 140px;">{{ knp_pagination_sortable(portfolios, 'label.id'|trans, 'e.id') }}</th>
                                                <th class="sort" data-sort="name">{{ knp_pagination_sortable(portfolios, 'label.name'|trans, 't.name') }}</th>
                                                <th class="sort" data-sort="category">{{ knp_pagination_sortable(portfolios, 'label.category'|trans, 't.portfolioCategory.name') }}</th>
                                                <th class="sort" data-sort="created">{{ knp_pagination_sortable(portfolios, 'label.created'|trans, 't.created') }}</th>
                                                <th class="sort" data-sort="updated">{{ knp_pagination_sortable(portfolios, 'label.updated'|trans, 't.updated') }}</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        {% for portfolio in portfolios %}
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                    </div>
                                                </th>
                                                <td class="id"><a href="#" class="fw-medium link-primary">{{ portfolio.id }}</a></td>
                                                <td class="user_displayname">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0">
                                                            {% if portfolio.image %}
                                                                <img src="{{ portfolio_image(portfolio) | imagine_filter('portfolio_440') }}" alt="" style="width:50px;height:50px" />
                                                            {% else %}
                                                                <lord-icon src="https://cdn.lordicon.com/xulniijg.json" trigger="hover" colors="primary:#40e0d0" target="div" style="width:50px;height:50px"></lord-icon>
                                                            {% endif %}
{#                                                            <img src="{{ asset('assets/images/companies/img-3.png') }}" alt="" class="avatar-xxs rounded-circle image_src object-fit-cover">#}
                                                        </div>
                                                        <div class="flex-grow-1 ms-2"><a href="{{ url('admin_portfolios_edit', {'id': portfolio.id}) }}">{{ portfolio.name }}</a></div>
                                                    </div>
                                                </td>
                                                <td>{{ portfolio.portfolioCategory.name }}</td>
                                                <td class="date">{{ portfolio.created|format_datetime('short', 'short') }}</td>
                                                <td class="date">{{ portfolio.updated|format_datetime('short', 'short') }}</td>
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <!-- Edit icon -->
                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a href="{{ url('admin_portfolios_edit', {'id': portfolio.id}) }}" class="text-muted d-inline-block">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <!-- Delete icon -->
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Delete">
                                                            <!-- Notice data-bs-target="#deletePortfolio_{{ portfolio.id }}" -->
                                                            <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" data-bs-target="#deletePortfolio_{{ portfolio.id }}">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <!-- Delete Portfolio Modal -->
                                            <div class="modal fade flip" id="deletePortfolio_{{ portfolio.id }}" tabindex="-1" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-body p-5 text-center">
                                                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                                                            <div class="mt-4 text-center">
                                                                <h4>Sie sind dabei, ein Gewerbe zu löschen!</h4>
                                                                <p class="text-muted fs-15 mb-4">Das Löschen eines Gewerbes entfernt alle zugehörigen Informationen aus unserer Datenbank.</p>
                                                                <form action="{{ url('admin_portfolios_delete', {'id': portfolio.id}) }}" method="POST">
                                                                    <div class="hstack gap-2 justify-content-center remove">
                                                                        <button type="button" class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal" data-bs-toggle="modal">
                                                                            <i class="ri-close-line me-1 align-middle"></i> {{ 'button.close'|trans }}
                                                                        </button>
                                                                        <button class="btn btn-danger" type="submit">{{ 'label.delete'|trans }}</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end modal -->
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="noresult" style="display: none">
                                        <div class="text-center">
                                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon>
                                            <h5 class="mt-2">Sorry! No Result Found</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="d-flex justify-content-between">
                                        <div class="p-2">{{ 'text.total_items'|trans({'%number%': portfolios.getTotalItemCount}) }}</div>
                                        <div class="p-2">{{ knp_pagination_render(portfolios) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--create portfolio modal -->
                    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="createPortfolio" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-light p-3">
                                    <h5 class="modal-title" id="createPortfolio">{{ 'label.create_portfolio'|trans }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                </div>

                                {{ form_errors(form) }}

                                <form id="portfolioForm" autocomplete="off" class="needs-validation" novalidate action="{{ path('admin_portfolios_create') }}" method="post">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                {{ form_row(form.name) }}
                                                <div class="invalid-feedback">Please enter name</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                {{ form_row(form.client) }}
                                                <div class="invalid-feedback">Please enter client name</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                {{ form_row(form.websiteUrl) }}
                                                <div class="invalid-feedback">Please enter website url</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                {{ form_row(form.features) }}
                                                <div class="invalid-feedback">Please enter features</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                {{ form_row(form.technologies) }}
                                                <div class="invalid-feedback">Please enter technologies</div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                {{ form_label(form.description) }}
                                                {{ form_widget(form.description, {'id': 'ckeditor-classic'}) }}
                                                {{ form_errors(form.description) }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                {{ form_row(form.portfolioCategory) }}
                                                <div class="invalid-feedback">Please choose Category</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="mb-3">
                                                {{ form_label(form.imageFile) }}
                                                {% if form.vars.value.image %}
                                                    <div class="mb-3">
                                                        <img src="{{ vich_uploader_asset(form.vars.value, 'imageFile') }}" alt="Profile Picture" width="100" height="100" />
                                                    </div>
                                                {% endif %}
                                                {{ form_widget(form.imageFile) }}
                                                {{ form_errors(form.imageFile) }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <div class="hstack gap-2 justify-content-end">
                                            <!-- Submit Button -->
                                            <div class="form-group d-flex justify-content-end gap-3">
                                                <button type="submit" class="btn btn-dark right">{{ 'button.create'|trans }}</button>
                                            </div>
                                            <button type="button" class="btn btn-soft-dark" data-bs-dismiss="modal">{{ 'button.close'|trans }}</button>
                                        </div>
                                    </div>
                                    {{ form_row(form._token) }}
                                    {{ form_rest(form) }}
                                </form>

                            </div>
                        </div>
                    </div>
                    <!--end modal-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

{% endblock %}

{% block javascripts %}

    <!-- ckeditor -->
    <script src="{{ asset('assets/libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/js/pages/ckeditor-config.init.js') }}"></script>
    <!-- validation init -->
    <script src="{{ asset('assets/js/pages/form-validation.init.js') }}"></script>
    <!-- Custom Company js -->
    <script src="{{ asset('assets/js/pages/portfolio.init.js') }}"></script>
    <!-- choices.js -->
    <script src="{{ asset('assets/libs/choices.js/public/assets/scripts/choices.min.js') }}"></script>
    <!-- choices js override for symfony's default basic multi-select field! -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // find all .js-choices elements
            const elements = document.querySelectorAll('.js-choices');
            elements.forEach(function(element) {
                new Choices(element, {
                    removeItemButton: true,        // user can remove selected items
                    placeholderValue: 'Auswählen...',
                    searchPlaceholderValue: 'Search...',
                    allowHTML: false
                });
            });
        });
    </script>

    <script>
        // ckeditor
        var ckeditorClassic = document.querySelector('#ckeditor-classic');
        if (ckeditorClassic) {
            ClassicEditor
                .create(document.querySelector('#ckeditor-classic'))
                .then(function (editor) {
                    editor.ui.view.editable.element.style.height = '200px';
                })
                .catch(function (error) {
                    console.error(error);
                });
        }
    </script>

    {{ parent() }}
{% endblock %}