{% extends 'public.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Websitemaster Description TODO.">
{% endblock %}

{% block stylesheets %}
    <!-- Animated Headline -->
    <link href="{{ asset('assets-front/vendor/jquery.animatedheadline.css') }}" rel="stylesheet" type="text/css" />
    <!-- Custom Animated Headline CSS -->
    <link href="{{ asset('assets-front/css/custom-animated-headline.css') }}" rel="stylesheet" type="text/css" />
    {{ parent() }}
{% endblock %}

{% block content %}

    <section class="hero-section-4">
        <div class="shapes">
            <div class="shape shape-1"><img src="{{ asset('assets-front/imgs/modern-agency-2/hero-shape-5.webp') }}" alt="shape">
            </div>
            <div class="shape shape-2"><img src="{{ asset('assets-front/imgs/modern-agency-2/hero-shape-6.webp') }}" alt="shape">
            </div>
        </div>
        <div class="container rr-container-1405">
            <div class="hero-content-4">
                <h6 class="color-secondary">Transforming Visions into Digital Reality</h6>
                <div class="animated-headline">
                    <h4 class="sub-title anim-text ah-headline type">
                        <span>We create</span>
                        <span class="ah-words-wrapper">
                            <b class="is-visible">extraordinary</b>
                            <b>stunning</b>
                            <b>professional</b>
                            <b>performant</b>
                        </span>
                        <span>Websites and Apps</span>
                    </h4>
                </div>
                <a href="about.html" class="rr-primary-btn">Get Started Now</a>
            </div>
        </div>
    </section>
    <!-- ./ hero-section -->

    <section class="service-section-4 pt-130 pb-130 fade-wrapper">
        <div class="container rr-container-1405">
            <div class="section-heading text-center">
                <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Our Services</h4>
                <h2 class="section-title" data-text-animation="fade-in-right" data-split="char"
                    data-duration="0.6" data-stagger="0.03">Quality Services For <br>Your Digital Web Project</h2>
            </div>
            <div class="row gy-lg-0 gy-4">
                <div class="col-lg-3 col-md-6">
                    <div class="service-item-3 text-center fade-top">
                        <div class="service-icon-wrap">
                            <div class="service-icon">
                                <svg width="50" height="50" viewBox="0 0 50 50" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.2903 41.9355H19.3548V43.5484H11.2903V41.9355Z"
                                          fill="currentColor" />
                                    <path
                                            d="M4.03226 4.83871C4.47765 4.83871 4.83871 4.47765 4.83871 4.03226C4.83871 3.58687 4.47765 3.22581 4.03226 3.22581C3.58687 3.22581 3.22581 3.58687 3.22581 4.03226C3.22581 4.47765 3.58687 4.83871 4.03226 4.83871Z"
                                            fill="currentColor" />
                                    <path d="M9.67742 3.22581H19.3548V4.83871H9.67742V3.22581Z"
                                          fill="currentColor" />
                                    <path
                                            d="M20.9677 16.129C20.8331 16.129 20.6968 16.1363 20.5565 16.15C19.55 13.254 16.8347 11.2903 13.7097 11.2903C10.5411 11.2903 7.775 13.329 6.81129 16.3081C4.70484 16.8645 3.22581 18.7476 3.22581 20.9677C3.22581 23.6363 5.39597 25.8065 8.06452 25.8065H20.9677C23.6363 25.8065 25.8065 23.6363 25.8065 20.9677C25.8065 18.2992 23.6363 16.129 20.9677 16.129ZM20.9677 24.1935H8.06452C6.28548 24.1935 4.83871 22.7468 4.83871 20.9677C4.83871 19.3718 5.98952 18.0363 7.57581 17.7935L8.10726 17.7121L8.23629 17.1903C8.86048 14.6669 11.1113 12.9032 13.7097 12.9032C16.3403 12.9032 18.5984 14.6927 19.2 17.2548L19.3871 18.0524L20.1815 17.8524C20.4806 17.7766 20.7298 17.7419 20.9677 17.7419C22.7468 17.7419 24.1935 19.1887 24.1935 20.9677C24.1935 22.7468 22.7468 24.1935 20.9677 24.1935Z"
                                            fill="currentColor" />
                                    <path
                                            d="M12.0395 36.2903C12.0395 37.6242 13.125 38.7097 14.4589 38.7097C15.7927 38.7097 16.8782 37.6242 16.8782 36.2903C16.8782 34.9565 15.7927 33.871 14.4589 33.871C13.125 33.871 12.0395 34.9565 12.0395 36.2903ZM15.2653 36.2903C15.2653 36.7355 14.904 37.0968 14.4589 37.0968C14.0137 37.0968 13.6524 36.7355 13.6524 36.2903C13.6524 35.8452 14.0137 35.4839 14.4589 35.4839C14.904 35.4839 15.2653 35.8452 15.2653 36.2903Z"
                                            fill="currentColor" />
                                    <path
                                            d="M18.4508 32.2992C17.3847 31.2331 15.9669 30.6452 14.4589 30.6452C12.9508 30.6452 11.5331 31.2331 10.4677 32.2992L11.6081 33.4395C12.3694 32.6782 13.3823 32.2581 14.4589 32.2581C15.5363 32.2581 16.5492 32.6782 17.3105 33.4395L18.4508 32.2992Z"
                                            fill="currentColor" />
                                    <path
                                            d="M8.18548 30.0177L9.32581 31.1581C12.1565 28.3274 16.7605 28.3274 19.5911 31.1581L20.7315 30.0177C17.2726 26.5589 11.6444 26.5589 8.18548 30.0177Z"
                                            fill="currentColor" />
                                    <path
                                            d="M45.3097 29.8387C45.6435 30.775 46.5306 31.4516 47.5806 31.4516C48.9145 31.4516 50 30.3661 50 29.0323C50 27.6984 48.9145 26.6129 47.5806 26.6129C46.5306 26.6129 45.6435 27.2895 45.3097 28.2258H29.0323V26.6129H36.6242L41.4629 21.7742H45.3097C45.6435 22.7105 46.5306 23.3871 47.5806 23.3871C48.9145 23.3871 50 22.3016 50 20.9677C50 19.6339 48.9145 18.5484 47.5806 18.5484C46.5306 18.5484 45.6435 19.225 45.3097 20.1613H40.7952L35.9565 25H29.0323V19.304C30.6637 20.3524 32.5984 20.9677 34.6774 20.9677C40.4581 20.9677 45.1613 16.2645 45.1613 10.4839C45.1613 4.70323 40.4581 0 34.6774 0C32.3621 0 30.2266 0.76371 28.4895 2.04032C27.7855 0.81371 26.4661 0 25 0H4.03226C1.80887 0 0 1.80887 0 4.03226V45.9677C0 48.1911 1.80887 50 4.03226 50H25C27.2234 50 29.0323 48.1911 29.0323 45.9677V33.0645H35.9565L40.7952 37.9032H45.3097C45.6435 38.8395 46.5306 39.5161 47.5806 39.5161C48.9145 39.5161 50 38.4306 50 37.0968C50 35.7629 48.9145 34.6774 47.5806 34.6774C46.5306 34.6774 45.6435 35.354 45.3097 36.2903H41.4629L36.6242 31.4516H29.0323V29.8387H45.3097ZM47.5806 28.2258C48.0258 28.2258 48.3871 28.5871 48.3871 29.0323C48.3871 29.4774 48.0258 29.8387 47.5806 29.8387C47.1355 29.8387 46.7742 29.4774 46.7742 29.0323C46.7742 28.5871 47.1355 28.2258 47.5806 28.2258ZM47.5806 20.1613C48.0258 20.1613 48.3871 20.5226 48.3871 20.9677C48.3871 21.4129 48.0258 21.7742 47.5806 21.7742C47.1355 21.7742 46.7742 21.4129 46.7742 20.9677C46.7742 20.5226 47.1355 20.1613 47.5806 20.1613ZM47.5806 36.2903C48.0258 36.2903 48.3871 36.6516 48.3871 37.0968C48.3871 37.5419 48.0258 37.9032 47.5806 37.9032C47.1355 37.9032 46.7742 37.5419 46.7742 37.0968C46.7742 36.6516 47.1355 36.2903 47.5806 36.2903ZM31.6823 2.14435C31.2355 2.88548 30.8573 3.79435 30.5605 4.83871H27.8403C28.8452 3.62339 30.171 2.68952 31.6823 2.14435ZM37.104 4.83871H32.25C32.8871 2.84435 33.8105 1.6129 34.6774 1.6129C35.5444 1.6129 36.4677 2.84435 37.104 4.83871ZM43.5073 9.67742H39.4984C39.4613 8.53306 39.35 7.44919 39.1685 6.45161H42.5685C43.0742 7.43629 43.4032 8.52419 43.5073 9.67742ZM34.6774 19.3548C33.8105 19.3548 32.8871 18.1234 32.2508 16.129H37.1048C36.4677 18.1234 35.5444 19.3548 34.6774 19.3548ZM31.8395 14.5161C31.6427 13.5411 31.5105 12.4573 31.4685 11.2903H37.8863C37.8444 12.4573 37.7113 13.5411 37.5153 14.5161H31.8395ZM39.4984 11.2903H43.5073C43.4024 12.4435 43.0742 13.5315 42.5685 14.5161H39.1685C39.35 13.5185 39.4621 12.4347 39.4984 11.2903ZM37.8863 9.67742H31.4685C31.5105 8.51048 31.6435 7.42661 31.8395 6.45161H37.5153C37.7121 7.42661 37.8444 8.51048 37.8863 9.67742ZM26.7855 6.45161H30.1855C30.004 7.44919 29.8927 8.53306 29.8556 9.67742H25.8468C25.9516 8.52419 26.2806 7.43629 26.7855 6.45161ZM29.8565 11.2903C29.8935 12.4347 30.0048 13.5185 30.1863 14.5161H26.7863C26.2815 13.5315 25.9524 12.4435 25.8476 11.2903H29.8565ZM30.5605 16.129C30.8573 17.1734 31.2355 18.0823 31.6823 18.8234C30.171 18.279 28.8452 17.3444 27.8403 16.129H30.5605ZM37.6726 18.8234C38.1185 18.0823 38.4976 17.1734 38.7944 16.129H41.5145C40.5097 17.3444 39.1839 18.2782 37.6726 18.8234ZM41.5153 4.83871H38.7952C38.4984 3.79435 38.1202 2.88548 37.6734 2.14435C39.1839 2.68952 40.5097 3.62339 41.5153 4.83871ZM4.03226 1.6129H25C25.9855 1.6129 26.8661 2.22339 27.2339 3.11129C26.2903 4.06452 25.5274 5.19597 25.0024 6.45161H1.6129V4.03226C1.6129 2.69839 2.69839 1.6129 4.03226 1.6129ZM25 48.3871H4.03226C2.69839 48.3871 1.6129 47.3016 1.6129 45.9677V45.9468C2.28871 46.4589 3.12097 46.7742 4.03226 46.7742H25C25.9113 46.7742 26.7435 46.4589 27.4194 45.9468V45.9677C27.4194 47.3016 26.3339 48.3871 25 48.3871ZM25 45.1613H4.03226C2.69839 45.1613 1.6129 44.0758 1.6129 42.7419V8.06452H24.4863C24.3016 8.84274 24.1935 9.65 24.1935 10.4839C24.1935 13.4476 25.4355 16.1226 27.4194 18.0315V42.7419C27.4194 44.0758 26.3339 45.1613 25 45.1613Z"
                                            fill="currentColor" />
                                </svg>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3 class="title"><a href="service-details.html">Website</a></h3>
                            <p>Crafting Professional Responsive Websites That Engage & Convert Your Audience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item-3 text-center fade-top">
                        <div class="service-icon-wrap">
                            <div class="service-icon">
                                <svg width="55" height="55" viewBox="0 0 60 60" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M56.0519 47.0151H33.6971C33.59 46.5836 33.3854 46.1823 33.099 45.8422L27.7542 39.6119C27.6634 39.5058 27.5508 39.4206 27.424 39.3621C27.2972 39.3036 27.1593 39.2733 27.0197 39.2732H16.3745V38.3054C16.3745 38.0487 16.2725 37.8026 16.0911 37.6211C15.9096 37.4396 15.6634 37.3377 15.4068 37.3377H1.85837C1.60171 37.3377 1.35556 37.4396 1.17407 37.6211C0.992583 37.8026 0.890625 38.0487 0.890625 38.3054V59.5957C0.890625 59.8524 0.992583 60.0985 1.17407 60.28C1.35556 60.4615 1.60171 60.5635 1.85837 60.5635H9.6003C9.85696 60.5635 10.1031 60.4615 10.2846 60.28C10.4661 60.0985 10.568 59.8524 10.568 59.5957V58.628H15.4068C15.6634 58.628 15.9096 58.526 16.0911 58.3445C16.2725 58.1631 16.3745 57.9169 16.3745 57.6602V56.6925H22.8584L28.4209 60.4009C28.5792 60.5064 28.765 60.5629 28.9551 60.5635C29.0248 60.5633 29.0942 60.5558 29.1622 60.5412L60.13 53.767C60.3456 53.7198 60.5386 53.6003 60.6769 53.4283C60.8153 53.2563 60.8907 53.0423 60.8906 52.8215V51.8538C60.8891 50.571 60.3788 49.3411 59.4717 48.434C58.5646 47.5269 57.3347 47.0166 56.0519 47.0151ZM8.63256 58.628H2.82611V39.2732H8.63256V58.628ZM14.439 56.6925H10.568V39.2732H14.439V56.6925ZM58.9551 52.0473L29.1487 58.5632L23.6848 54.9196C23.5259 54.814 23.3395 54.7575 23.1487 54.757H16.3745V41.2086H26.5745L31.6251 47.1012C31.7756 47.2766 31.8583 47.5001 31.8584 47.7312V48.9506C31.8584 49.2072 31.7564 49.4534 31.5749 49.6349C31.3934 49.8164 31.1473 49.9183 30.8906 49.9183H29.7574C29.6302 49.9184 29.5042 49.8934 29.3866 49.8448C29.269 49.7961 29.1622 49.7248 29.0722 49.6348L24.8006 45.3632L23.4322 46.7315L27.7038 51.0032C27.9728 51.2738 28.2928 51.4884 28.6453 51.6344C28.9978 51.7804 29.3758 51.855 29.7574 51.8538H30.8906C31.6606 51.8538 32.3991 51.5479 32.9435 51.0035C33.488 50.459 33.7938 49.7206 33.7938 48.9506H56.0519C56.8219 48.9506 57.5603 49.2564 58.1048 49.8009C58.6493 50.3454 58.9551 51.0838 58.9551 51.8538V52.0473Z"
                                            fill="currentColor" />
                                    <path
                                            d="M59.9229 29.5957H57.9874V8.30541C57.9874 7.53543 57.6815 6.79698 57.1371 6.25252C56.5926 5.70806 55.8542 5.40219 55.0842 5.40219H48.2577C48.2438 5.37848 48.2286 5.35555 48.2122 5.33348L45.4755 2.59573C45.294 2.41431 45.0479 2.31239 44.7913 2.31239C44.5347 2.31239 44.2886 2.41431 44.1071 2.59573L43.1026 3.60025C42.6005 3.33776 42.0762 3.12014 41.5358 2.94993V1.53122C41.5358 1.27456 41.4338 1.02841 41.2523 0.846922C41.0709 0.665435 40.8247 0.563477 40.568 0.563477H36.6971C36.4404 0.563477 36.1943 0.665435 36.0128 0.846922C35.8313 1.02841 35.7293 1.27456 35.7293 1.53122V2.94993C35.1889 3.12014 34.6646 3.33776 34.1626 3.60025L33.158 2.59573C32.9766 2.41431 32.7305 2.31239 32.4739 2.31239C32.2172 2.31239 31.9711 2.41431 31.7897 2.59573L29.0519 5.33348C29.0359 5.35557 29.021 5.37851 29.0074 5.40219H22.1809C21.411 5.40219 20.6725 5.70806 20.1281 6.25252C19.5836 6.79698 19.2777 7.53543 19.2777 8.30541V14.1119H1.85837C1.60171 14.1119 1.35556 14.2138 1.17407 14.3953C0.992583 14.5768 0.890625 14.8229 0.890625 15.0796V26.6925C0.890625 26.9492 0.992583 27.1953 1.17407 27.3768C1.35556 27.5583 1.60171 27.6602 1.85837 27.6602H19.2777V29.5957H17.3422C17.0856 29.5957 16.8394 29.6977 16.6579 29.8792C16.4765 30.0607 16.3745 30.3068 16.3745 30.5635V34.4344C16.3745 35.2044 16.6804 35.9429 17.2248 36.4873C17.7693 37.0318 18.5077 37.3377 19.2777 37.3377H57.9874C58.7574 37.3377 59.4958 37.0318 60.0403 36.4873C60.5847 35.9429 60.8906 35.2044 60.8906 34.4344V30.5635C60.8906 30.3068 60.7887 30.0607 60.6072 29.8792C60.4257 29.6977 60.1795 29.5957 59.9229 29.5957ZM56.0519 8.30541V29.5957H54.1164V10.2409C54.1164 9.98423 54.0145 9.73809 53.833 9.5566C53.6515 9.37511 53.4053 9.27315 53.1487 9.27315H47.859C47.6888 8.73277 47.4712 8.20847 47.2087 7.70638L47.5774 7.33767H55.0842C55.3408 7.33767 55.587 7.43963 55.7685 7.62112C55.95 7.8026 56.0519 8.04875 56.0519 8.30541ZM26.0519 26.6925V15.0796C26.0519 14.8229 25.95 14.5768 25.7685 14.3953C25.587 14.2138 25.3408 14.1119 25.0842 14.1119V11.2086H27.0197V14.1119C27.0197 14.3685 27.1216 14.6147 27.3031 14.7962C27.4846 14.9776 27.7307 15.0796 27.9874 15.0796H29.4061C29.5763 15.62 29.7939 16.1443 30.0564 16.6464L29.0519 17.6509C28.8705 17.8324 28.7686 18.0785 28.7686 18.3351C28.7686 18.5917 28.8705 18.8378 29.0519 19.0193L31.7897 21.757C31.9711 21.9384 32.2172 22.0404 32.4739 22.0404C32.7305 22.0404 32.9766 21.9384 33.158 21.757L34.1626 20.7525C34.6646 21.015 35.1889 21.2327 35.7293 21.4028V22.8215C35.7293 23.0782 35.8313 23.3244 36.0128 23.5058C36.1943 23.6873 36.4404 23.7893 36.6971 23.7893H40.568C40.8247 23.7893 41.0709 23.6873 41.2523 23.5058C41.4338 23.3244 41.5358 23.0782 41.5358 22.8215V21.4028C42.0762 21.2324 42.6005 21.0144 43.1026 20.7515L44.1071 21.757C44.2886 21.9384 44.5347 22.0404 44.7913 22.0404C45.0479 22.0404 45.294 21.9384 45.4755 21.757L48.2132 19.0193C48.3946 18.8378 48.4965 18.5917 48.4965 18.3351C48.4965 18.0785 48.3946 17.8324 48.2132 17.6509L47.2097 16.6464C47.4718 16.1443 47.6891 15.62 47.859 15.0796H49.2777C49.5344 15.0796 49.7805 14.9776 49.962 14.7962C50.1435 14.6147 50.2455 14.3685 50.2455 14.1119V11.2086H52.1809V29.5957H25.0842V27.6602C25.3408 27.6602 25.587 27.5583 25.7685 27.3768C25.95 27.1953 26.0519 26.9492 26.0519 26.6925ZM31.09 10.4557C31.283 9.60735 31.6191 8.79803 32.0839 8.06251C32.201 7.87677 32.2515 7.6567 32.2271 7.43845C32.2027 7.2202 32.1047 7.01676 31.9493 6.86154L31.1055 6.01767L32.4739 4.64928L33.3177 5.49315C33.4729 5.64852 33.6764 5.74647 33.8946 5.77091C34.1129 5.79536 34.3329 5.74484 34.5187 5.62767C35.2542 5.16289 36.0635 4.8268 36.9119 4.6338C37.1259 4.58507 37.317 4.46505 37.4538 4.29342C37.5906 4.1218 37.665 3.90876 37.6648 3.68928V2.49896H39.6003V3.68928C39.6001 3.90876 39.6745 4.1218 39.8113 4.29342C39.9481 4.46505 40.1392 4.58507 40.3532 4.6338C41.2016 4.8268 42.0109 5.16289 42.7464 5.62767C42.9322 5.74484 43.1522 5.79536 43.3705 5.77091C43.5887 5.74647 43.7922 5.64852 43.9474 5.49315L44.7913 4.64928L46.1597 6.01767L45.3158 6.86154C45.1604 7.01676 45.0625 7.2202 45.038 7.43845C45.0136 7.6567 45.0641 7.87677 45.1813 8.06251C45.646 8.79803 45.9821 9.60735 46.1751 10.4557C46.2239 10.6697 46.3439 10.8608 46.5155 10.9976C46.6871 11.1344 46.9002 11.2088 47.1197 11.2086H48.31V13.1441H47.1197C46.9002 13.1439 46.6871 13.2183 46.5155 13.3551C46.3439 13.4919 46.2239 13.683 46.1751 13.897C45.9821 14.7454 45.646 15.5547 45.1813 16.2902C45.0641 16.476 45.0136 16.6961 45.038 16.9143C45.0625 17.1326 45.1604 17.336 45.3158 17.4912L46.1597 18.3351L44.7913 19.7035L43.9474 18.8596C43.7922 18.7045 43.589 18.6067 43.371 18.5822C43.1529 18.5578 42.933 18.6082 42.7474 18.7251C42.0117 19.1896 41.2025 19.5257 40.3542 19.719C40.1401 19.7675 39.949 19.8873 39.812 20.0587C39.675 20.2301 39.6004 20.4431 39.6003 20.6625V21.8538H37.6648V20.6625C37.6648 20.4431 37.5901 20.2301 37.4531 20.0587C37.3162 19.8873 37.125 19.7675 36.9109 19.719C36.0627 19.5257 35.2534 19.1896 34.5177 18.7251C34.3321 18.6082 34.1122 18.5578 33.8942 18.5822C33.6761 18.6067 33.4729 18.7045 33.3177 18.8596L32.4739 19.7035L31.1055 18.3351L31.9493 17.4912C32.1047 17.336 32.2027 17.1326 32.2271 16.9143C32.2515 16.6961 32.201 16.476 32.0839 16.2902C31.6191 15.5547 31.283 14.7454 31.09 13.897C31.0413 13.683 30.9212 13.4919 30.7496 13.3551C30.578 13.2183 30.3649 13.1439 30.1455 13.1441H28.9551V11.2086H30.1455C30.3649 11.2088 30.578 11.1344 30.7496 10.9976C30.9212 10.8608 31.0413 10.6697 31.09 10.4557ZM21.2132 8.30541C21.2132 8.04875 21.3152 7.8026 21.4966 7.62112C21.6781 7.43963 21.9243 7.33767 22.1809 7.33767H29.6877L30.0564 7.70638C29.7939 8.20847 29.5763 8.73277 29.4061 9.27315H24.1164C23.8598 9.27315 23.6136 9.37511 23.4321 9.5566C23.2506 9.73809 23.1487 9.98423 23.1487 10.2409V14.1119H21.2132V8.30541ZM2.82611 16.0473H24.1164V25.7248H2.82611V16.0473ZM21.2132 27.6602H23.1487V29.5957H21.2132V27.6602ZM58.9551 34.4344C58.9551 34.6911 58.8532 34.9373 58.6717 35.1187C58.4902 35.3002 58.2441 35.4022 57.9874 35.4022H19.2777C19.0211 35.4022 18.7749 35.3002 18.5934 35.1187C18.4119 34.9373 18.31 34.6911 18.31 34.4344V31.5312H58.9551V34.4344Z"
                                            fill="currentColor" />
                                    <path
                                            d="M38.6326 17.9828C39.781 17.9828 40.9036 17.6423 41.8584 17.0043C42.8133 16.3662 43.5575 15.4594 43.997 14.3984C44.4365 13.3374 44.5515 12.1699 44.3274 11.0436C44.1034 9.91726 43.5504 8.88265 42.7383 8.0706C41.9263 7.25855 40.8917 6.70554 39.7653 6.4815C38.639 6.25745 37.4715 6.37244 36.4105 6.81192C35.3495 7.25139 34.4427 7.99562 33.8047 8.95049C33.1666 9.90535 32.8261 11.028 32.8261 12.1764C32.8276 13.7159 33.4399 15.1919 34.5285 16.2805C35.6171 17.3691 37.0931 17.9813 38.6326 17.9828ZM38.6326 8.30541C39.3982 8.30541 40.1466 8.53244 40.7832 8.95779C41.4197 9.38313 41.9159 9.9877 42.2089 10.695C42.5019 11.4024 42.5785 12.1807 42.4291 12.9316C42.2798 13.6825 41.9111 14.3722 41.3697 14.9136C40.8284 15.4549 40.1386 15.8236 39.3877 15.973C38.6369 16.1223 37.8585 16.0457 37.1512 15.7527C36.4439 15.4597 35.8393 14.9636 35.414 14.327C34.9886 13.6904 34.7616 12.942 34.7616 12.1764C34.7616 11.1497 35.1694 10.1651 35.8954 9.43919C36.6213 8.71324 37.6059 8.30541 38.6326 8.30541Z"
                                            fill="currentColor" />
                                    <path
                                            d="M7.94837 17.2986L5.04514 20.2019C4.86372 20.3833 4.7618 20.6294 4.7618 20.8861C4.7618 21.1427 4.86372 21.3888 5.04514 21.5703L7.94837 24.4735L9.31675 23.1051L7.09772 20.8861L9.31675 18.667L7.94837 17.2986Z"
                                            fill="currentColor" />
                                    <path
                                            d="M18.9942 17.2986L17.6258 18.667L19.8448 20.8861L17.6258 23.1051L18.9942 24.4735L21.8974 21.5703C22.0788 21.3888 22.1807 21.1427 22.1807 20.8861C22.1807 20.6294 22.0788 20.3833 21.8974 20.2019L18.9942 17.2986Z"
                                            fill="currentColor" />
                                    <path
                                            d="M14.5415 16.5821L10.6706 24.3238L12.4018 25.1894L16.2726 17.4477L14.5415 16.5821Z"
                                            fill="currentColor" />
                                </svg>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3 class="title"><a href="service-details.html">E-Commerce</a></h3>
                            <p>Powerful E-Commerce Solutions to Boost Sales & Scale Your Business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item-3 text-center fade-top">
                        <div class="service-icon-wrap">
                            <div class="service-icon">
                                <svg width="50" height="50" viewBox="0 0 61 61" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M57.8906 0.3125H3.89062C3.09525 0.31341 2.33272 0.629772 1.77031 1.19218C1.2079 1.7546 0.891535 2.51713 0.890625 3.3125V47.3125C0.891535 48.1079 1.2079 48.8704 1.77031 49.4328C2.33272 49.9952 3.09525 50.3116 3.89062 50.3125H24.5466L22.1466 58.3125H18.8906V60.3125H42.8906V58.3125H39.6347L37.2346 50.3125H57.8906C58.686 50.3116 59.4485 49.9952 60.0109 49.4328C60.5734 48.8704 60.8897 48.1079 60.8906 47.3125V3.3125C60.8897 2.51713 60.5734 1.7546 60.0109 1.19218C59.4485 0.629772 58.686 0.31341 57.8906 0.3125ZM37.5466 58.3125H24.2347L26.6347 50.3125H35.1466L37.5466 58.3125ZM58.8906 47.3125C58.8903 47.5776 58.7849 47.8318 58.5974 48.0193C58.4099 48.2067 58.1557 48.3122 57.8906 48.3125H3.89062C3.6255 48.3122 3.37132 48.2067 3.18385 48.0193C2.99638 47.8318 2.89093 47.5776 2.89062 47.3125V44.3125H58.8906V47.3125ZM58.8906 42.3125H2.89062V3.3125C2.89093 3.04738 2.99638 2.7932 3.18385 2.60573C3.37132 2.41826 3.6255 2.3128 3.89062 2.3125H57.8906C58.1557 2.3128 58.4099 2.41826 58.5974 2.60573C58.7849 2.7932 58.8903 3.04738 58.8906 3.3125V42.3125Z"
                                            fill="currentColor" />
                                    <path
                                            d="M53.8906 17.3125H40.7191C40.5877 17.3129 40.4575 17.2872 40.3361 17.2369C40.2147 17.1866 40.1045 17.1127 40.0119 17.0195L37.1835 14.1912C36.9056 13.9117 36.575 13.6902 36.2109 13.5393C35.8467 13.3885 35.4563 13.3114 35.0622 13.3125H23.8906C23.0953 13.3134 22.3327 13.6298 21.7703 14.1922C21.2079 14.7546 20.8915 15.5171 20.8906 16.3125V37.3125C20.8915 38.1079 21.2079 38.8704 21.7703 39.4328C22.3327 39.9952 23.0953 40.3116 23.8906 40.3125H53.8906C54.686 40.3116 55.4485 39.9952 56.0109 39.4328C56.5734 38.8704 56.8897 38.1079 56.8906 37.3125V20.3125C56.8897 19.5171 56.5734 18.7546 56.0109 18.1922C55.4485 17.6298 54.686 17.3134 53.8906 17.3125ZM54.8906 37.3125C54.8903 37.5776 54.7849 37.8318 54.5974 38.0193C54.4099 38.2067 54.1557 38.3122 53.8906 38.3125H23.8906C23.6255 38.3122 23.3713 38.2067 23.1839 38.0193C22.9964 37.8318 22.8909 37.5776 22.8906 37.3125V16.3125C22.8909 16.0474 22.9964 15.7932 23.1839 15.6057C23.3713 15.4183 23.6255 15.3128 23.8906 15.3125H35.0622C35.1936 15.3121 35.3237 15.3378 35.4451 15.3881C35.5665 15.4384 35.6767 15.5123 35.7693 15.6055L38.5977 18.4338C38.8757 18.7133 39.2062 18.9348 39.5704 19.0857C39.9345 19.2365 40.3249 19.3136 40.7191 19.3125H53.8906C54.1557 19.3128 54.4099 19.4183 54.5974 19.6057C54.7849 19.7932 54.8903 20.0474 54.8906 20.3125V37.3125Z"
                                            fill="currentColor" />
                                    <path
                                            d="M32.1835 22.6054L26.4765 28.3125L32.1835 34.0196L33.5978 32.6054L29.3048 28.3125L33.5978 24.0196L32.1835 22.6054Z"
                                            fill="currentColor" />
                                    <path
                                            d="M36.0251 32.8446L41.0288 23.8462L42.7767 24.8182L37.773 33.8166L36.0251 32.8446Z"
                                            fill="currentColor" />
                                    <path
                                            d="M44.1835 24.0196L48.4765 28.3125L44.1835 32.6054L45.5978 34.0196L51.3047 28.3125L45.5978 22.6054L44.1835 24.0196Z"
                                            fill="currentColor" />
                                    <path
                                            d="M24.2399 6.3125L25.8592 10.0899L29.4305 11.5696L33.2529 10.0422L35.2303 12.0196L36.6444 10.6054L33.735 7.69575L29.4443 9.41037L27.3768 8.55375L25.5585 4.3125H20.2227L18.4046 8.55375L16.337 9.41037L12.0464 7.69575L8.274 11.4683L9.9885 15.7589L9.13188 17.8264L4.89062 19.6446V24.9804L9.13175 26.7986L9.9885 28.8661L8.27388 33.1567L12.0463 36.9292L16.337 35.2146L18.5077 36.1141L19.2735 34.2665L16.3507 33.0554L12.5284 34.5827L10.6204 32.6748L12.1477 28.8524L10.6679 25.281L6.89062 23.6618V20.9632L10.668 19.344L12.1477 15.7726L10.6204 11.9502L12.5285 10.0422L16.3507 11.5696L19.922 10.0899L21.5414 6.3125H24.2399Z"
                                            fill="currentColor" />
                                    <path
                                            d="M19.3356 15.1436L18.4456 13.3525C16.7774 14.1808 15.3735 15.4584 14.392 17.0414C13.4106 18.6244 12.8906 20.4499 12.8906 22.3125C12.8906 24.1751 13.4106 26.0006 14.392 27.5836C15.3735 29.1666 16.7774 30.4442 18.4456 31.2725L19.3356 29.4814C18.0007 28.8188 16.8774 27.7967 16.0921 26.5301C15.3067 25.2635 14.8906 23.8028 14.8906 22.3125C14.8906 20.8222 15.3067 19.3615 16.0921 18.0949C16.8774 16.8283 18.0007 15.8062 19.3356 15.1436Z"
                                            fill="currentColor" />
                                </svg>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3 class="title"><a href="service-details.html">App Development</a></h3>
                            <p>Custom Mobile & Web App Development for Seamless User Experiences.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item-3 text-center fade-top">
                        <div class="service-icon-wrap">
                            <div class="service-icon">
                                <svg width="50" height="50" viewBox="0 0 50 50" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M44.5352 6.79727C45.5742 6.79727 46.415 5.95654 46.415 4.91751C46.415 3.87849 45.5742 3.03775 44.5352 3.03775C43.4962 3.03775 42.6554 3.87849 42.6554 4.91751C42.6554 5.95654 43.5041 6.79727 44.5352 6.79727ZM44.5352 4.37817C44.8366 4.37817 45.0825 4.62405 45.0825 4.92544C45.0825 5.22684 44.8366 5.47272 44.5352 5.47272C44.2259 5.47272 43.9879 5.23477 43.9879 4.92544C43.9879 4.61612 44.2338 4.37817 44.5352 4.37817Z"
                                            fill="currentColor" />
                                    <path
                                            d="M46.6212 0H7.97906C6.51174 0 5.31409 1.19765 5.31409 2.66497V6.73382H2.66497C1.19765 6.73382 0 7.93147 0 9.3988V42.8141C0 44.2814 1.19765 45.4791 2.66497 45.4791H20.3759V49.3338C20.3759 49.6986 20.6773 50 21.0422 50H33.5581C33.9229 50 34.2243 49.6986 34.2243 49.3338V45.4791H41.3071C42.7744 45.4791 43.9721 44.2814 43.9721 42.8141V38.7452H46.6212C48.0885 38.7452 49.2862 37.5476 49.2862 36.0803V2.66497C49.2862 1.19765 48.0885 0 46.6212 0ZM6.64657 2.66497C6.64657 1.92735 7.24936 1.33249 7.97906 1.33249H46.6212C47.3588 1.33249 47.9537 1.93528 47.9537 2.66497V8.51047H22.6681L19.6938 5.42513C19.4638 5.18718 19.1466 5.05235 18.8214 5.05235H12.27C11.6037 5.05235 11.0565 5.59962 11.0565 6.26586V8.51047H6.64657V2.66497ZM2.66497 44.1545C1.92735 44.1545 1.33249 43.5517 1.33249 42.822V9.3988C1.33249 8.66117 1.93528 8.06631 2.66497 8.06631H5.31409V36.0882C5.31409 37.5555 6.51174 38.7532 7.97906 38.7532H22.4461C22.7078 39.2608 22.8268 39.8319 22.7792 40.4188H21.7481C20.9867 40.4188 20.3759 41.0374 20.3759 41.7909V44.1545H2.66497ZM26.6418 30.203C26.7766 29.9651 27.0225 29.8144 27.3001 29.8144C27.7126 29.8144 28.0457 30.1475 28.0457 30.56C28.0457 30.8296 27.9029 31.0755 27.6729 31.2103C27.4191 31.361 27.1177 31.3452 26.8084 31.1707C26.7687 31.1469 26.7291 31.1152 26.7132 31.0755C26.4594 30.671 26.5625 30.3537 26.6418 30.203ZM26.6339 28.6088C26.1501 28.7754 25.7376 29.1006 25.4838 29.5606C25.1031 30.2427 25.1507 31.0755 25.5949 31.7893C25.7376 32.0114 25.928 32.1938 26.158 32.3287C26.5228 32.5349 26.9194 32.6459 27.3081 32.6459C27.6729 32.6459 28.0298 32.5508 28.3471 32.3683C28.9816 31.9956 29.3782 31.3055 29.3782 30.5679C29.3782 29.6558 28.7833 28.8864 27.9664 28.6088V25.1824L33.8594 35.8185C33.8515 35.8265 33.8436 35.8423 33.8198 35.8503C31.7338 36.3896 30.3696 38.3407 30.4806 40.4188H24.1275C24.2465 38.3328 22.8744 36.3817 20.7487 35.7868L26.6339 25.1824V28.6088ZM32.8918 48.6675H21.7084L21.7481 41.7433H32.8522C32.8759 41.7433 32.8918 41.7592 32.8918 41.783V48.6675ZM42.6396 42.8141C42.6396 43.5517 42.0368 44.1466 41.3071 44.1466H34.2243V41.783C34.2243 41.0216 33.6056 40.4109 32.8522 40.4109H31.8211C31.7735 39.8239 31.9004 39.2529 32.1542 38.7452H42.6396V42.8141ZM46.6212 37.4207H33.447C33.6612 37.3017 33.8912 37.1986 34.145 37.1352C34.5654 37.0241 34.9064 36.7307 35.0809 36.3341C35.2475 35.9454 35.2237 35.5092 35.0174 35.1364L28.1964 22.8506C28.0219 22.5254 27.6808 22.3192 27.3081 22.3192C26.9273 22.3271 26.5863 22.5175 26.4039 22.8426L19.5749 35.1364C19.3687 35.5092 19.3528 35.9534 19.5194 36.342C19.6859 36.7386 20.027 37.0241 20.4473 37.1352C20.7011 37.1986 20.9232 37.3017 21.1453 37.4207H7.97906C7.24143 37.4207 6.64657 36.8179 6.64657 36.0882V9.84296H11.1675C11.8338 9.84296 12.381 9.29569 12.381 8.62944V6.38483H18.7659L21.7402 9.47018C21.9702 9.70812 22.2874 9.84296 22.6126 9.84296H47.9537V36.0803C47.9537 36.8179 47.3588 37.4207 46.6212 37.4207Z"
                                            fill="currentColor" />
                                    <path
                                            d="M39.9984 6.79727C41.0374 6.79727 41.8782 5.95654 41.8782 4.91751C41.8782 3.87849 41.0374 3.03775 39.9984 3.03775C38.9594 3.03775 38.1187 3.87849 38.1187 4.91751C38.1187 5.95654 38.9594 6.79727 39.9984 6.79727ZM39.9984 4.37817C40.2998 4.37817 40.5457 4.62405 40.5457 4.92544C40.5457 5.22684 40.2998 5.47272 39.9984 5.47272C39.6891 5.47272 39.4511 5.23477 39.4511 4.92544C39.4511 4.61612 39.697 4.37817 39.9984 4.37817Z"
                                            fill="currentColor" />
                                    <path
                                            d="M35.4537 6.79727C36.4927 6.79727 37.3334 5.95654 37.3334 4.91751C37.3334 3.87849 36.4927 3.03775 35.4537 3.03775C34.4147 3.03775 33.5739 3.87849 33.5739 4.91751C33.5739 5.95654 34.4147 6.79727 35.4537 6.79727ZM35.4537 4.37817C35.7551 4.37817 36.0009 4.62405 36.0009 4.92544C36.0009 5.22684 35.7551 5.47272 35.4537 5.47272C35.1443 5.47272 34.9064 5.23477 34.9064 4.92544C34.9064 4.61612 35.1523 4.37817 35.4537 4.37817Z"
                                            fill="currentColor" />
                                    <path
                                            d="M40.1412 15.6488C39.7525 16.0374 39.5067 16.5292 39.4115 17.0527H30.092V16.0057C30.092 15.2919 29.513 14.7129 28.7992 14.7129H25.7931C25.0793 14.7129 24.5003 15.2919 24.5003 16.0057V17.0527H15.1888C15.1015 16.5371 14.8556 16.0454 14.4591 15.6409C13.4518 14.6494 11.7306 14.6653 10.7471 15.6488C10.2475 16.1485 9.97779 16.8068 9.97779 17.5048C9.97779 18.2107 10.2554 18.8769 10.7471 19.3607C11.2468 19.8763 11.9131 20.138 12.6031 20.138C13.0393 20.138 13.4835 20.0349 13.9039 19.8208C14.356 19.5907 14.7287 19.21 14.9508 18.7421C15.0063 18.6231 15.0539 18.5041 15.0936 18.3852H21.5577C18.0441 20.0984 15.395 23.3185 14.4749 27.2049H13.4438C12.73 27.2049 12.151 27.7839 12.151 28.4978V31.5038C12.151 32.2176 12.73 32.7966 13.4438 32.7966H16.4499C17.1637 32.7966 17.7427 32.2176 17.7427 31.5038V28.4978C17.7427 27.7839 17.1637 27.2049 16.4499 27.2049H15.8471C16.9575 23.0171 20.3125 19.7335 24.5241 18.7183V19.0038C24.5241 19.7176 25.1031 20.2966 25.8169 20.2966H28.823C29.5368 20.2966 30.1158 19.7176 30.1158 19.0038V18.7183C34.3195 19.7335 37.6745 23.0171 38.7928 27.2049H38.2456C37.5317 27.2049 36.9527 27.7839 36.9527 28.4978V31.5038C36.9527 32.2176 37.5317 32.7966 38.2456 32.7966H41.2516C41.9654 32.7966 42.5444 32.2176 42.5444 31.5038V28.4978C42.5444 27.7839 41.9654 27.2049 41.2516 27.2049H40.165C39.237 23.3185 36.5879 20.0904 33.0822 18.3852H39.5622C39.6891 18.75 39.8953 19.0831 40.1729 19.3607C40.6726 19.8763 41.3388 20.138 42.0289 20.138C42.4651 20.138 42.9093 20.0349 43.3296 19.8208C43.7817 19.5907 44.1545 19.21 44.3766 18.7421C44.8921 17.6555 44.7097 16.4737 43.8928 15.6409C42.8537 14.6574 41.1326 14.6653 40.1412 15.6488ZM13.7373 18.1789C13.6421 18.3693 13.4835 18.5359 13.2931 18.631C12.6031 18.98 12.0082 18.7579 11.6831 18.4169C11.4372 18.1789 11.3023 17.8537 11.3023 17.5048C11.3023 17.1637 11.4372 16.8385 11.6831 16.5847C11.9289 16.3388 12.2541 16.204 12.6031 16.204C12.9442 16.204 13.2773 16.3388 13.5152 16.5768C13.9277 17.0051 14.007 17.5999 13.7373 18.1789ZM16.434 31.4642L13.4676 31.5038L13.428 28.5374H16.3944L16.434 31.4642ZM41.2278 31.4642L38.2614 31.5038L38.2218 28.5374H41.1881L41.2278 31.4642ZM25.8407 19.0117L25.8249 18.0124C25.8407 17.941 25.8407 17.8696 25.8328 17.7903V17.7824C25.8328 17.7586 25.8487 17.7427 25.8487 17.7189C25.8487 17.6793 25.8328 17.6475 25.8249 17.6158L25.8011 16.0533H28.7674L28.7912 17.6158C28.7833 17.6555 28.7674 17.6872 28.7674 17.7268C28.7674 17.7506 28.7754 17.7665 28.7833 17.7903V17.7982C28.7674 17.9013 28.7754 17.9965 28.7992 18.0838L28.815 18.98L25.8407 19.0117ZM43.1393 18.1789C43.0441 18.3693 42.8855 18.5359 42.6951 18.631C42.0051 18.98 41.4102 18.7579 41.085 18.4169C40.8391 18.1789 40.7043 17.8537 40.7043 17.5048C40.7043 17.1637 40.8391 16.8385 41.085 16.5847C41.3309 16.3388 41.6561 16.204 42.0051 16.204C42.3461 16.204 42.6792 16.3388 42.9172 16.5768C43.3296 17.0051 43.4089 17.5999 43.1393 18.1789Z"
                                            fill="currentColor" />
                                </svg>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3 class="title"><a href="service-details.html">AI-Powered Solutions</a></h3>
                            <p>Intelligent AI Solutions to Automate Tasks & Drive Business Growth.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ service-section -->

    <section class="about-section-5 pt-130 pb-130">
        <div class="container rr-container-1405">
            <div class="row gy-lg-0 gy-4">
                <div class="col-lg-6">
                    <div class="about-content-5 fade-wrapper">
                        <div class="section-heading">
                            <h4 class="sub-heading after-none" data-text-animation="fade-in"
                                data-duration="1.5">About Company</h4>
                            <h2 class="section-title" data-text-animation="fade-in-right" data-split="char"
                                data-duration="0.6" data-stagger="0.03">Uniting Your Vision with Digital Expertise</h2>
                        </div>
                        <div class="about-tab fade-top">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-mission-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-mission" type="button" role="tab"
                                            aria-controls="nav-mission" aria-selected="true">Our Mission</button>
                                    <button class="nav-link" id="nav-vision-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-vision" type="button" role="tab"
                                            aria-controls="nav-vision" aria-selected="false">Our Vision</button>
                                    <button class="nav-link" id="nav-goal-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-goal" type="button" role="tab"
                                            aria-controls="nav-goal" aria-selected="false">Our Goal</button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-mission" role="tabpanel"
                                     aria-labelledby="nav-mission-tab">
                                    <h3 class="title">Our Mission</h3>
                                    <p class="mb-20">Fueled by passion and unwavering professionalism,
                                        our mission is to bridge business and digital worlds.
                                        We partner with clients to craft state-of-the-art websites,
                                        apps, and e-commerce solutions that drive growth and satisfaction.</p>
                                    <p class="mb-0">By championing innovation and delivering exceptional user experiences,
                                        we ensure every project delights stakeholders and empowers organizations to excel in a rapidly evolving landscape.</p>
                                </div>
                                <div class="tab-pane fade" id="nav-vision" role="tabpanel"
                                     aria-labelledby="nav-vision-tab">
                                    <h3 class="title">Our Vision</h3>
                                    <p class="mb-20">Driven by passion and professionalism,
                                        we envision a future where businesses seamlessly integrate digital innovation.
                                        Our goal is to lead the industry by creating state-of-the-art applications that inspire trust,
                                        deliver measurable results, and foster lasting partnerships.</p>
                                    <p class="mb-0">We see every happy client as a testament to our dedication
                                        and a step toward redefining excellence in the tech world.</p>
                                </div>
                                <div class="tab-pane fade" id="nav-goal" role="tabpanel"
                                     aria-labelledby="nav-goal-tab">
                                    <h3 class="title">Our Goal</h3>
                                    <p class="mb-20">Our goal is to empower businesses and clients by delivering
                                        top-tier digital solutions through a perfect blend of passion, expertise, and professionalism.
                                        We measure success by our clients’ happiness and growth, continuously innovating to exceed expectations.</p>
                                    <p class="mb-0">Together, we aim to transform ideas into powerful,
                                        user-centric digital experiences that drive meaningful results.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img-wrap-5">
                        <div class="shapes">
                            <div class="shape shape-1"><img src="{{ asset('assets-front/imgs/modern-agency-2/about-shape-4.webp') }}" alt="shape"></div>
                            <div class="shape shape-2"><img src="{{ asset('assets-front/imgs/modern-agency-2/about-shape-5.webp') }}" alt="shape"></div>
                        </div>
                        <div class="about-img reveal">
                            <img class="img-1" src="{{ asset('assets-front/imgs/programmer_at_work.png') }}" alt="img">
                        </div>
                        <div class="about-img-2 reveal">
                            <img class="img-2" src="{{ asset('assets-front/imgs/iPhone_16_pen.png') }}" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ about-section -->

    <section class="process-section pt-130 fade-wrapper">
        <div class="bg-shape"><img src="{{ asset('assets-front/imgs/web-design/process-shape.webp') }}" alt="shape"></div>
        <div class="container rr-container-1405">
            <div class="section-heading text-center">
                <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Work Process</h4>
                <h2 class="section-title" data-text-animation="fade-in-right" data-split="char"
                    data-duration="0.6" data-stagger="0.03">Follow 5 Easy Work Steps</h2>
            </div>
            <div class="row gy-lg-0 gy-5">
                <div class="col-lg col-md-6 col-sm-12">
                    <div class="process-item fade-top">
                        <div class="process-icon">
                            <div class="icon-border"></div>
                            <img class="dark-img" src="{{ asset('assets-front/imgs/web-design/process-1.webp') }}" alt="icon">
                            <img class="light-img" src="{{ asset('assets-front/imgs/web-design/process-1-light.webp') }}"
                                 alt="icon">
                        </div>
                        <div class="process-content">
                            <h3 class="title">Discovery & Consultation</h3>
                            <p>In a personal meeting or call, we analyze your goals, needs, and expectations.
                                Whether it’s an app, e-commerce platform, or digital presence,
                                we provide tailored ideas and strategies for your industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12">
                    <div class="process-item fade-top">
                        <div class="process-icon">
                            <div class="icon-border"></div>
                            <img class="dark-img" src="{{ asset('assets-front/imgs/web-design/process-2.webp') }}" alt="icon">
                            <img class="light-img" src="{{ asset('assets-front/imgs/web-design/process-2-light.webp') }}"
                                 alt="icon">
                        </div>
                        <div class="process-content">
                            <h3 class="title">Planning & Concept</h3>
                            <p>Together we clarify all requirements, define functionalities, and create a clear roadmap.
                                This ensures that every detail is aligned before development begins.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12">
                    <div class="process-item fade-top">
                        <div class="process-icon">
                            <div class="icon-border"></div>
                            <img class="dark-img" src="{{ asset('assets-front/imgs/web-design/process-3.webp') }}" alt="icon">
                            <img class="light-img" src="{{ asset('assets-front/imgs/web-design/process-3-light.webp') }}"
                                 alt="icon">
                        </div>
                        <div class="process-content">
                            <h3 class="title">Design & Development</h3>
                            <p>We bring your vision to life with state-of-the-art technologies and intuitive design.
                                From UI/UX to backend architecture, we ensure a professional, scalable, and future-ready solution.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12">
                    <div class="process-item fade-top">
                        <div class="process-icon">
                            <div class="icon-border"></div>
                            <img class="dark-img" src="{{ asset('assets-front/imgs/web-design/process-4.webp') }}" alt="icon">
                            <img class="light-img" src="{{ asset('assets-front/imgs/web-design/process-4-light.webp') }}"
                                 alt="icon">
                        </div>
                        <div class="process-content">
                            <h3 class="title">Testing & Optimization</h3>
                            <p>Before launch, we thoroughly test all functions, usability, and performance.
                                Feedback and refinements are implemented to guarantee flawless results.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-md-6 col-sm-12">
                    <div class="process-item fade-top">
                        <div class="process-icon">
                            <div class="icon-border"></div>
                            <img class="dark-img" src="{{ asset('assets-front/imgs/web-design/process-5.webp') }}" alt="icon">
                            <img class="light-img" src="{{ asset('assets-front/imgs/web-design/process-5-light.webp') }}"
                                 alt="icon">
                        </div>
                        <div class="process-content">
                            <h3 class="title">Launch & Support</h3>
                            <p>After successful testing, we launch your project and provide ongoing support.
                                We ensure smooth operation and are available for maintenance, updates, and future enhancements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="process-text wow fade-in-bottom" data-wow-delay="400ms">
            <img class="dark-img" src="{{ asset('assets-front/imgs/web-design/process-img.webp') }}" alt="process">
            <img class="process-img-light light-img" src="{{ asset('assets-front/imgs/web-design/process-img-light.webp') }}"
                 alt="process">
        </div>
    </section>
    <!-- ./ process-section -->

    <section class="testimonial-section-4 pb-130">
        <div class="container rr-container-1405">
            <div class="row gy-lg-0 gy-4 align-items-center">
                <div class="col-lg-6">
                    <div class="testi-content-4 fade-wrapper">
                        <div class="section-heading">
                            <h4 class="sub-heading after-none" data-text-animation="fade-in"
                                data-duration="1.5">Client Testimonial</h4>
                            <h2 class="section-title" data-text-animation="fade-in-right" data-split="char"
                                data-duration="0.6" data-stagger="0.03">What Our Customer Say</h2>
                        </div>
                        <div class="testi-top fade-top">
                            <div class="quote">
                                <img class="dark-img" src="{{ asset('assets-front/imgs/modern-agency-2/quote.webp') }}" alt="quote">
                                <img class="light-img" src="{{ asset('assets-front/imgs/modern-agency-2/quote-light.webp') }}"
                                     alt="quote">
                            </div>
                            <div class="swiper-arrow">
                                <div class="swiper-nav swiper-next"><i
                                            class="fa-sharp fa-solid fa-chevron-left"></i></div>
                                <div class="swiper-nav swiper-prev"><i
                                            class="fa-sharp fa-solid fa-chevron-right"></i></div>
                            </div>
                        </div>
                        <div class="testi-carousel-2 swiper fade-top">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testi-box">
                                        <p>"When complex custom solutions are required in WordPress, Websitemaster is my go-to specialist.
                                            Competent, straightforward, and fairly priced!"</p>
                                        <div class="author-box">
                                            <img src="{{ asset('assets-front/imgs/modern-agency-2/testi-author-4.webp') }}"
                                                 alt="img">
                                            <h4 class="name">Claudia Ammann <span>Feel Graphic, Luzern</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-box">
                                        <p>"Websitemaster took care of my entire marketing presence, creating a beautiful and
                                            functional website with yoga class management, the logo, and business cards.
                                            I highly recommend Websitemaster.eading to more conversions. We are
                                            thrilled with the results!"</p>
                                        <div class="author-box">
                                            <img src="{{ asset('assets-front/imgs/modern-agency-2/testi-author-4.webp') }}"
                                                 alt="img">
                                            <h4 class="name">Sarah Mai <span>Yoga Teacher, Zürich</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testi-box">
                                        <p>"Websitemaster is always available to provide advice and support for our running projects.
                                            He always has the perfect solution ready and implements it flawlessly.
                                            Thank you, Websitemaster."</p>
                                        <div class="author-box">
                                            <img src="{{ asset('assets-front/imgs/modern-agency-2/testi-author-4.webp') }}"
                                                 alt="img">
                                            <h4 class="name">Yves Bütikofer <span>Key Delivery, Cool Spirits, Zürich</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testi-img-4 reveal">
                        <img src="{{ asset('assets-front/imgs/developers_at_work.png') }}" alt="developers at work">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ testimonial-section -->

    <section class="work-area-2 pb-130 fade-wrapper">
        <div class="container large">
            <div class="work-area-2-inner section-spacing-top">
                <div class="works-wrapper-box">
                    <div class="section-heading text-center">
                        <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Case Studies</h4>
                        <h2 class="section-title" data-text-animation="fade-in-right" data-split="char"
                            data-duration="0.6" data-stagger="0.03">Our Recent Projects</h2>
                    </div>
                    <div class="works-wrapper-2">
                        {% if projects|length %}
                            {% for project in projects %}
                                <div class="work-box">
                                    <div class="thumb" data-cursor-text="View Project">
                                        <a href="{{ path('homepage_portfolio_details', {'id': project.id}) }}"><img src="{{ portfolio_image(project) | imagine_filter('portfolio_440')  }}" alt="image"></a>
                                    </div>
                                    <div class="content">
                                        <h3 class="title"><a href="{{ path('homepage_portfolio_details', {'id': project.id}) }}">{{ project.name }}</a></h3>
                                        <div class="portfolio-meta-inline">
                                            <span class="date">{{ project.created|date('d.m.Y') }}</span>
                                            <div class="tags">
                                                {% for category in project.portfolioCategories %}
                                                    <span class="tag">{{ category.name }}</span>
                                                {% else %}
                                                    <span class="tag">Uncategorized</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- work area end  -->

    <!-- client area start  -->
    <section class="client-area">
        <div class="container large">
            <div class="client-area-inner section-spacing-top">
                <div class="section-content">
                    <div class="section-heading text-center">
                        <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Our Clients</h4>
                        <h2 class="section-title" data-text-animation="fade-in-right" data-split="char"
                            data-duration="0.6" data-stagger="0.03">Helping brands to grow</h2>
                    </div>
                    <div class="text-wrapper fade-anim">
                        <p class="text">We’re a great team of creatives with a strongest capabilities to helping progressive
                            fields achieve their goals. With the best talent on every project done successfully</p>
                    </div>
                </div>
                <div class="client-capsule-wrapper-box" data-t-throwable-scene="true">
                    <div class="client-capsule-wrapper">
                        <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-9-light.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-10.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-11.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-12-light.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-13.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-14.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-15-light.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-16-light.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-17.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-18-light.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-19.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box bg-theme">
                      <img src="assets/imgs/client/client-20-light.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-21.webp" alt="image">
                    </span>
                        </p>
                        <p data-t-throwable-el="">
                    <span class="client-box">
                      <img src="assets/imgs/client/client-22.webp" alt="image">
                    </span>
                        </p>
                    </div>
                </div>
                <div class="lines-wrapper">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- client area end  -->



    <section class="blog-section pb-130 pt-130 fade-wrapper">
        <div class="container rr-container-1405">
            <div class="section-heading text-center">
                <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Blog & News</h4>
                <h2 class="section-title" data-text-animation="fade-in-right" data-split="char"
                    data-duration="0.6" data-stagger="0.03">Our latest news & articles <br>from the blog</h2>
            </div>
            <div class="row gy-lg-0 gy-4">
                <div class="col-md-6">
                    <div class="post-card-2 fade-top">
                        <div class="overlay"></div>
                        <div class="post-thumb">
                            <img src="{{ asset('assets-front/imgs/modern-agency-2/post-4.webp') }}" alt="post">
                        </div>
                        <div class="post-content-wrap">
                            <div class="post-content">
                                <ul class="post-meta">
                                    <li><i class="fa-sharp fa-solid fa-clock"></i>25 June, 2024</li>
                                    <li><i class="fa-solid fa-user"></i>Post by: Admin</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">Inside Hutch’s Playbook for
                                        Crafting Future-Centric Digital Experiences</a></h3>
                                <a href="blog-details.html" class="rr-primary-btn">Read More <i
                                            class="fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="post-card-2 fade-top">
                        <div class="overlay"></div>
                        <div class="post-thumb">
                            <img src="{{ asset('assets-front/imgs/modern-agency-2/post-5.webp') }}" alt="post">
                        </div>
                        <div class="post-content-wrap">
                            <div class="post-content">
                                <ul class="post-meta">
                                    <li><i class="fa-sharp fa-solid fa-clock"></i>25 June, 2024</li>
                                    <li><i class="fa-solid fa-user"></i>Post by: Admin</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">Web Design Agency Ensures Your
                                        Website Rises to the Top of Search Rankings"</a></h3>
                                <a href="blog-details.html" class="rr-primary-btn">Read More <i
                                            class="fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ blog-section -->

    <section class="cta-section-5">
        <div class="bg-item">
            <div class="bg-img" data-background="{{ asset('assets-front/imgs/it-solution/cta-bg.jpeg') }}"></div>
            <div class="overlay"></div>
            <div class="overlay-2"></div>
            <div class="overlay-3"></div>
        </div>
        <div class="container rr-container-1405">
            <div class="cta-wrap-5 pt-130 pb-130">
                <div class="section-heading white-content mb-0">
                    <h4 class="sub-heading after-none" data-text-animation="fade-in" data-duration="1.5">
                        Make An Appointment</h4>
                    <h2 class="section-title" data-text-animation data-split="word" data-duration="1">Do you have a project you want to talk about?
                        <br> Contact Us
                    </h2>
                </div>
                <div class="cta-btn"><a href="contact.html" class="rr-primary-btn">Make Appointment</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ cta-section -->

{% endblock %}

{% block javascripts %}
    <!--homepage init -->
    <script src="{{ asset('assets/js/pages/homepage.init.js') }}"></script>
    {{ parent() }}
    <!--animated headline init -->
    <script src="{{ asset('assets-front/vendor/jquery.animatedheadline.min.js') }}"></script>
    <script>
        $(function() {
            $('.animated-headline').animatedHeadline({
                animationType: 'type',
                animationDelay: 2500,
                barAnimationDelay: 3800,
                barWaiting: 800,
                lettersDelay: 50,
                typeLettersDelay: 150,
                selectionDuration: 500,
                typeAnimationDelay: 1300,
                revealDuration: 600,
                revealAnimationDelay: 1500
            });
        })
    </script>
{% endblock %}
