{% extends 'public.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Don Huber Description -> todo!">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="slider-section">
        <header class="hero-header">
            <div class="video-background">
                <iframe
                        src="https://www.youtube.com/embed/1yc3HLsMN1Q?autoplay=1&mute=1&loop=1&playlist=1yc3HLsMN1Q&controls=0&showinfo=0&modestbranding=1"
                        allow="autoplay; fullscreen">
                </iframe>
            </div>
            <div class="slider-content-wrap">
                <div class="container rr-container-1405">
                    <div class="it-hero-content-wrap">
                        <div class="it-hero-content">
                            <h4 class="sub-title" data-animation="runok-fadeInUp" data-delay="800ms" data-duration="1000ms">the world's only dispenser sports cap system</h4>
                            <h2 class="title" data-animation="runok-fadeInUp" data-delay="1000ms" data-duration="1200ms">Revolutionize</h2>
                            <h2 class="title" data-animation="runok-fadeInUp" data-delay="1200ms" data-duration="1400ms">the beverage</h2>
                            <h2 class="title" data-animation="runok-fadeInUp" data-delay="1400ms" data-duration="1600ms">industry</h2>
                            <div class="row align-items-center">
                                <h3 class="bottom-title mb-0" data-animation="runok-fadeInUp" data-delay="1800ms"
                                    data-duration="2000ms">Push the ViCAP Button to find out more.</h3>
                                <div class="col-auto ms-auto">
                                    <div class="vicap-button">
                                        <a href="#"><img src="{{ asset('assets-front/imgs/vicap/vicap-button-innovation.png') }}" alt="About"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-btn-wrap" data-animation="runok-fadeInUp" data-delay="1200ms" data-duration="1400ms">
                            <a href="about.html" class="slider-btn"><i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!-- ./ header-section -->

    <section class="blog-section-3 pt-130 pb-130 fade-wrapper">
        <div class="container rr-container-1405">
            <div class="section-heading text-center">
                <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Press & News</h4>
                <h2 class="section-title" data-text-animation data-split="word" data-duration="1">Read Our Latest News</h2>
            </div>
            <div class="row gy-lg-0 gy-5 justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="post-card-2 card-3 card-4 fade-top">
                        <div class="post-thumb">
                            <img src="{{ asset('assets-front/imgs/it-solution/post-6.webp') }}" alt="post">
                        </div>
                        <div class="post-content-wrap">
                            <div class="post-content">
                                <ul class="post-meta">
                                    <li>Design Solution</li>
                                    <li>by David Adam</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">How Our Web Agency Shapes <br>
                                        Digital Experience Focus All Goal</a></h3>
                                <a href="blog-details.html" class="rr-primary-btn">Read More <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="post-card-2 card-3 card-4 fade-top">
                        <div class="post-thumb">
                            <img src="{{ asset('assets-front/imgs/it-solution/post-7.webp') }}" alt="post">
                        </div>
                        <div class="post-content-wrap">
                            <div class="post-content">
                                <ul class="post-meta">
                                    <li>Design Solution</li>
                                    <li>by David Adam</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">Why Prioritizes User Experience In Every Web Design Project</a></h3>
                                <a href="blog-details.html" class="rr-primary-btn">Read More <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="post-card-2 card-3 card-4 fade-top">
                        <div class="post-thumb">
                            <img src="{{ asset('assets-front/imgs/it-solution/post-8.webp') }}" alt="post">
                        </div>
                        <div class="post-content-wrap">
                            <div class="post-content">
                                <ul class="post-meta">
                                    <li>Design Solution</li>
                                    <li>by David Adam</li>
                                </ul>
                                <h3 class="title"><a href="blog-details.html">Demystifying The Wizardry Of Our Web Design Agency</a></h3>
                                <a href="blog-details.html" class="rr-primary-btn">Read More <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ blog-section -->

    <section class="about-section-6 pt-130 pb-130">
        <div class="container rr-container-1405">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-img-6 reveal">
                        <img src="{{ asset('assets-front/imgs/it-solution/about-img-10.webp') }}" alt="about">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-content-6 fade-wrapper">
                        <div class="section-heading">
                            <h4 class="sub-heading after-none" data-text-animation="fade-in" data-duration="1.5">About Our Company</h4>
                            <h2 class="section-title" data-text-animation data-split="word" data-duration="1">Our Main Goal to Satisfied local & Global Clients</h2>
                            <p class="fade-top">Hutch Web Solutions, a beacon of creativity and
                                functionality in the digital realm. Our agency is your trusted partner in
                                crafting online experiences that resonate. With an unwavering commitment to
                                innovation,</p>
                        </div>
                        <div class="row about-card-wrap">
                            <div class="col-md-6">
                                <div class="about-card fade-top">
                                    <div class="icon">
                                        <img src="{{ asset('assets-front/imgs/it-solution/about-5.webp') }}" alt="icon">
                                    </div>
                                    <h3 class="title">Quality web design</h3>
                                    <p>Architectural Design & Planning Visual Facility Design Audio Facility Design Construction</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-card fade-top">
                                    <div class="icon">
                                        <img src="{{ asset('assets-front/imgs/it-solution/about-7.webp') }}" alt="icon">
                                    </div>
                                    <h3 class="title">Experienced Team</h3>
                                    <p>Architectural Design & Planning Visual Facility Design Audio Facility Design Construction</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ about-section -->

    <section class="about-section-7 pb-130">
        <div class="container rr-container-1405">
            <div class="row about-wrap-7">
                <div class="col-lg-6 col-md-12">
                    <div class="about-content-7 fade-wrapper">
                        <div class="section-heading mb-30">
                            <h4 class="sub-heading after-none" data-text-animation="fade-in" data-duration="1.5">About Our Company</h4>
                            <h2 class="section-title" data-text-animation data-split="word" data-duration="1">We Provide Services In <br>One Places</h2>
                            <p class="fade-top">In addition to competition, factory companies also fe
                                challenges related to labor and the environment. Many factory companies hae
                                been criticized for exploiting workers and polluting the environment address
                                these concerns</p>
                        </div>
                        <div class="about-list-wrap fade-top">
                            <span>Development Special Services:</span>
                            <ul class="about-list">
                                <li><i class="fa-regular fa-circle-check"></i>Emergency Solutions Anytime</li>
                                <li><i class="fa-regular fa-circle-check"></i>Emergency Solutions Anytime</li>
                                <li><i class="fa-regular fa-circle-check"></i>Affordable price upto 2 years</li>
                                <li><i class="fa-regular fa-circle-check"></i>Reliable & Experienced Team</li>
                            </ul>
                        </div>
                        <div class="about-btn fade-top">
                            <a href="contact.html" class="rr-primary-btn">Get Started Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-img-6 reveal">
                        <img src="{{ asset('assets-front/imgs/it-solution/about-img-11.webp') }}" alt="about">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ about-section -->

    <section class="service-section pb-130 overflow-hidden">
        <div class="container rr-container-1405">
            <div class="section-heading text-center">
                <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Popular Services</h4>
                <h2 class="section-title" data-text-animation data-split="word" data-duration="1">We Provide Amazing Web <br> Design Solutions</h2>
            </div>
            <div class="row gy-4 fade-wrapper">
                <div class="col-md-6">
                    <div class="service-card fade-top">
                        <div class="shape">
                            <img src="{{ asset('assets-front/imgs/it-solution/service-shape-2.webp') }}" alt="service">
                        </div>
                        <div class="icon"><img src="{{ asset('assets-front/imgs/it-solution/service-1.webp') }}" alt="service">
                        </div>
                        <div class="content">
                            <h3 class="title">Digital Strategy Planning</h3>
                            <p>This strategy encompasses a wide range of activities, from <br> online marketing and social media to website...</p>
                            <a href="service-details.html" class="read-more">Read More<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-card fade-top">
                        <div class="shape"><img src="{{ asset('assets-front/imgs/it-solution/service-shape-2.webp') }}" alt="service"></div>
                        <div class="icon"><img src="{{ asset('assets-front/imgs/it-solution/service-2.webp') }}" alt="service"></div>
                        <div class="content">
                            <h3 class="title">Custom Website Design</h3>
                            <p>This strategy encompasses a wide range of activities, from <br> online marketing and social media to website...</p>
                            <a href="service-details.html" class="read-more">Read More<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-card fade-top">
                        <div class="shape"><img src="{{ asset('assets-front/imgs/it-solution/service-shape-2.webp') }}" alt="service"></div>
                        <div class="icon"><img src="{{ asset('assets-front/imgs/it-solution/service-3.webp') }}" alt="service"></div>
                        <div class="content">
                            <h3 class="title">Wireframing and Prototyping</h3>
                            <p>This strategy encompasses a wide range of activities, from <br> online marketing and social media to website...</p>
                            <a href="service-details.html" class="read-more">Read More<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-card fade-top">
                        <div class="shape"><img src="{{ asset('assets-front/imgs/it-solution/service-shape-2.webp') }}" alt="service"></div>
                        <div class="icon"><img src="{{ asset('assets-front/imgs/it-solution/service-4.webp') }}" alt="service"></div>
                        <div class="content">
                            <h3 class="title">Creation and Integration</h3>
                            <p>This strategy encompasses a wide range of activities, from <br> online marketing and social media to website...</p>
                            <a href="service-details.html" class="read-more">Read More<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ service-section -->

    <section class="process-section process-3 pb-130 fade-wrapper">
        <div class="bg-shape" data-background="{{ asset('assets-front/imgs/it-solution/process-bg-shape.webp') }}"></div>
        <div class="process-counter">
            <div class="container rr-container-1405">
                <div class="row process-counter-wrap">
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-card">
                            <div class="icon"><img src="{{ asset('assets-front/imgs/it-solution/counter-1.webp') }}" alt="counter"></div>
                            <div class="content">
                                <h3 class="title"><span class="odometer" data-count="42">0</span>+</h3>
                                <p>Years of Experience</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-card">
                            <div class="icon"><img src="{{ asset('assets-front/imgs/it-solution/counter-2.webp') }}" alt="counter"></div>
                            <div class="content">
                                <h3 class="title"><span class="odometer" data-count="200">0</span>+</h3>
                                <p>Project’s Complete</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-card">
                            <div class="icon"><img src="{{ asset('assets-front/imgs/it-solution/counter-3.webp') }}" alt="counter"></div>
                            <div class="content">
                                <h3 class="title"><span class="odometer" data-count="68">0</span>+</h3>
                                <p>Team Members</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="counter-card card-4">
                            <div class="icon"><img src="{{ asset('assets-front/imgs/it-solution/counter-4.webp') }}" alt="counter"></div>
                            <div class="content">
                                <h3 class="title"><span class="odometer" data-count="99">0</span>+</h3>
                                <p>Total Award Wins</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container rr-container-1405">
            <div class="section-heading text-center pt-130">
                <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5">Work Process</h4>
                <h2 class="section-title overflow-hidden" data-text-animation data-split="word" data-duration="1">Follow 4 Easy Work Steps</h2>
            </div>
            <div class="row gy-lg-0 gy-5">
                <div class="col-lg-3 col-md-6">
                    <div class="process-item fade-top">
                        <div class="process-icon icon-2">
                            <div class="icon-border"></div>
                            <img class="dark-img" src="{{ asset('assets-front/imgs/it-solution/process-1-light.webp') }}" alt="icon">
                            <img class="light-img" src="{{ asset('assets-front/imgs/it-solution/process-1-light.webp') }}" alt="icon">
                        </div>
                        <div class="process-content">
                            <h3 class="title">Project Processing</h3>
                            <p>Cursus euismod dictumst a non <br> dis nisi sociosqu mauris.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="process-item fade-top">
                        <div class="process-icon icon-2">
                            <div class="icon-border"></div>
                            <img class="dark-img" src="{{ asset('assets-front/imgs/it-solution/process-2-light.webp') }}" alt="icon">
                            <img class="light-img" src="{{ asset('assets-front/imgs/it-solution/process-2-light.webp') }}" alt="icon">
                        </div>
                        <div class="process-content">
                            <h3 class="title">High Quality Products</h3>
                            <p>Cursus euismod dictumst a non <br> dis nisi sociosqu mauris.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="process-item fade-top">
                        <div class="process-icon icon-2">
                            <div class="icon-border"></div>
                            <img class="dark-img" src="{{ asset('assets-front/imgs/it-solution/process-3-light.webp') }}" alt="icon">
                            <img class="light-img" src="{{ asset('assets-front/imgs/it-solution/process-3-light.webp') }}" alt="icon">
                        </div>
                        <div class="process-content">
                            <h3 class="title">Huge Choice Products</h3>
                            <p>Cursus euismod dictumst a non <br> dis nisi sociosqu mauris.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="process-item fade-top">
                        <div class="process-icon icon-2">
                            <div class="icon-border"></div>
                            <img class="dark-img" src="{{ asset('assets-front/imgs/it-solution/process-4-light.webp') }}" alt="icon">
                            <img class="light-img" src="{{ asset('assets-front/imgs/it-solution/process-4-light.webp') }}" alt="icon">
                        </div>
                        <div class="process-content">
                            <h3 class="title">Quality Finished</h3>
                            <p>Cursus euismod dictumst a non <br> dis nisi sociosqu mauris.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ process-section -->

    <section class="testimonial-section-5 pt-130 pb-130">
        <div class="container rr-container-1405">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="testi-content-5">
                        <div class="section-heading">
                            <h4 class="sub-heading after-none" data-text-animation="fade-in" data-duration="1.5">Client Testimonial</h4>
                            <h2 class="section-title" data-text-animation data-split="word" data-duration="1">What our client say <br> about our work?</h2>
                        </div>
                        <div class="testi-carousel-wrap">
                            <div class="testi-thumb-wrap">
                                <div class="swiper thumb-carousel">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="testi-thumb">
                                                <img src="{{ asset('assets-front/imgs/it-solution/author-img-1.webp') }}" alt="testi">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testi-thumb">
                                                <img src="{{ asset('assets-front/imgs/it-solution/author-img-2.webp') }}" alt="testi">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="testi-thumb">
                                                <img src="{{ asset('assets-front/imgs/it-solution/author-img-3.webp') }}" alt="testi">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper content-carousel">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testi-content">
                                            <p>"I just wanted to thank Hatch Agency for their expertise in
                                                optimizing our website. After the redesign, our organic
                                                traffic has increased significantly, leading to more
                                                conversions. We are thrilled with the results!"</p>
                                            <div class="author-info">
                                                <h4 class="name">John Smith</h4>
                                                <span>Co-founder, Grable</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testi-content">
                                            <p>"I just wanted to thank Hatch Agency for their expertise in
                                                optimizing our website. After the redesign, our organic
                                                traffic has increased significantly, leading to more
                                                conversions. We are thrilled with the results!"</p>
                                            <div class="author-info">
                                                <h4 class="name">John Smith</h4>
                                                <span>Co-founder, Grable</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testi-content">
                                            <p>"I just wanted to thank Hatch Agency for their expertise in
                                                optimizing our website. After the redesign, our organic
                                                traffic has increased significantly, leading to more
                                                conversions. We are thrilled with the results!"</p>
                                            <div class="author-info">
                                                <h4 class="name">John Smith</h4>
                                                <span>Co-founder, Grable</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="testi-img-5 reveal">
                        <img src="{{ asset('assets-front/imgs/it-solution/testi-img-2.webp') }}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ testimonial-section -->

    <div class="running-text running-5">
        <div class="carouselTicker carouselTicker-nav" data-speed="fast">
            <ul class="text-anim carouselTicker__list">
                <li><i class="fa-solid fa-star"></i>We Love To Work With</li>
                <li><i class="fa-solid fa-star"></i>What We Do</li>
                <li><i class="fa-solid fa-star"></i>We Love What We Do</li>
                <li><i class="fa-solid fa-star"></i>We Do Agency</li>
                <li><i class="fa-solid fa-star"></i>We Do Agency Solution</li>
                <li><i class="fa-solid fa-star"></i>We Love To Work With</li>
                <li><i class="fa-solid fa-star"></i>What We Do</li>
                <li><i class="fa-solid fa-star"></i>We Love What We Do</li>
                <li><i class="fa-solid fa-star"></i>We Do Agency</li>
                <li><i class="fa-solid fa-star"></i>We Do Agency Solution</li>
            </ul>
        </div>
    </div>
    <!-- ./ running-text -->



    <section class="cta-section-5">
        <div class="bg-item">
            <div class="bg-img" data-background="{{ asset('assets-front/imgs/it-solution/cta-bg.webp') }}"></div>
            <div class="overlay"></div>
            <div class="overlay-2"></div>
            <div class="overlay-3"></div>
        </div>
        <div class="container rr-container-1405">
            <div class="cta-wrap-5 pt-130 pb-130">
                <div class="section-heading white-content mb-0">
                    <h4 class="sub-heading after-none" data-text-animation="fade-in" data-duration="1.5">Make An Appointment</h4>
                    <h2 class="section-title" data-text-animation data-split="word" data-duration="1">Have Any Projects On Minds!<br> Contact Us
                    </h2>
                </div>
                <div class="cta-btn"><a href="{{ path('homepage_contact') }}" class="rr-primary-btn">Make Appointment</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ./ cta-section -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--homepage init -->
    <script src="{{ asset('assets-front/vendor/customEase.js') }}"></script>
    <script src="{{ asset('assets-front/vendor/Flip.min.js') }}"></script>
    <script src="{{ asset('assets/js/pages/homepage.init.js') }}"></script>
{% endblock %}
