<header class="header-area-2">
    <div class="header-main">
        <div class="container large">
            <div class="header-area-2__inner">
                <div class="header__logo">
                    <a href="{{ path('app_homepage_index') }}">
                        <img src="{{ asset('assets-front/imgs/logo/vicap-logo-red.png') }}" class="normal-logo" alt="Site Logo">
                    </a>
                </div>
                <div class="header__nav pos-center">
                    <nav class="main-menu">
                        <ul>
                            <li><a href="{{ path('app_homepage_index') }}">Home</a></li>
                            <li><a href="#!">About Us</a></li>
                            <li><a href="#!">Services</a></li>
                            <li><a href="{{ path('homepage_blog') }}">News</a></li>
                            <li><a href="{{ path('homepage_contact') }}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__navicon">
                    <button class="side-toggle"><img src="{{ asset('assets-front/imgs/icon/icon-2.webp')}}" alt="image"></button>
                </div>
            </div>
        </div>
    </div>
</header>