<div class="popup-mobile-menu">
    <div class="inner">
        <div class="header-top">
            <div id="login">
                <a href="{{ path('security_login') }}" class="btn btn-outline-light">
                    <i class="fa fa-user" aria-hidden="true"></i> Login
                </a>
            </div>
            <div class="logo">
                <a href="{{path('homepage')}}">
                    <img class="logo-light" src="{{ asset('assets/images/exedra-logo-light.svg') }}" alt="Corporate Logo">
                    <img class="logo-dark" src="{{ asset('assets/images/exedra-logo-dark.svg') }}" alt="Corporate Logo">
                </a>
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="feather-x"></i>
                </button>
            </div>
        </div>
        {% set currentRoute = app.request.attributes.get('_route') %}
        <ul class="mainmenu">
            <li class="{{ currentRoute in ['homepage_people', 'homepage_people_details'] ? 'active' : '' }}">
                <a href="{{ path('homepage_people') }}">people</a>
            </li>
            <li class="{{ currentRoute == 'homepage_contact' ? 'active' : '' }}">
                <a href="{{ path('homepage_contact') }}">contact</a>
            </li>
        </ul>
    </div>
</div>