{% extends 'public.html.twig' %}

{% block meta_description %}
    <meta name="description" content="Discover our expertise in Website, E-Commerce, App Development, Web Hosting, WordPress services, and Internet Radio.
    Professional digital solutions to grow your business.">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="has-smooth" id="has_smooth"></div>
    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>

                <!-- page title area start  -->
                <section class="page-title-area">
                    <div class="container large">
                        <div class="page-title-area-inner section-spacing-top">
                            <div class="page-title-wrapper">
                                <h2 class="page-title fade-anim">Expertise</h2>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- page title area end  -->

                <!-- service area start  -->
                <section class="service-area-service-page pb-130">
                    <div class="container large">
                        <div class="service-area-service-page-inner">
                            <div class="section-header fade-anim">
                                <div class="section-title-wrapper">
                                    <div class="subtitle-wrapper">
                                        <span class="section-subtitle">Capabilities</span>
                                    </div>
                                    <div class="title-wrapper">
                                        <h2 class="section-title font-sequelsans-romanbody">Discover our expertise</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="services-wrapper-box fade-anim">
                                <div class="services-wrapper-1">
                                    <div class="service-box fade-anim">
                                        <div class="count">
                                            <span class="number">(01)</span>
                                        </div>

                                        <div class="content">
                                            <h3 class="title"><a href="{{ path('homepage_service_website') }}">Website Development</a></h3>
                                            <ul class="service-list">
                                                <li><a href="{{ path('homepage_service_website') }}">PHP, HTML5, Vanilla JS</a></li>
                                                <li><a href="{{ path('homepage_service_website') }}">Symfony</a></li>
                                                <li><a href="{{ path('homepage_service_website') }}">Wordpress</a></li>
                                                <li><a href="{{ path('homepage_service_website') }}">Laravel</a></li>
                                                <li><a href="{{ path('homepage_service_website') }}">GetGrav</a></li>
                                            </ul>
                                        </div>
                                        <div class="thumb">
                                            <img class="grow" src="{{ asset('assets-front/imgs/service/service_website.jpg') }}" alt="image">
                                        </div>
                                    </div>
                                    <div class="service-box fade-anim">
                                        <div class="count">
                                            <span class="number">(02)</span>
                                        </div>

                                        <div class="content">
                                            <h3 class="title"><a href="{{ path('homepage_service_digital_commerce') }}">E-Commerce</a></h3>
                                            <ul class="service-list">
                                                <li><a href="{{ path('homepage_service_digital_commerce') }}">Shopware</a></li>
                                                <li><a href="{{ path('homepage_service_digital_commerce') }}">Sylius</a></li>
                                                <li><a href="{{ path('homepage_service_digital_commerce') }}">WooCommerce</a></li>
                                                <li><a href="{{ path('homepage_service_digital_commerce') }}">Shopify</a></li>
                                                <li><a href="{{ path('homepage_service_digital_commerce') }}">Magento</a></li>
                                                <li><a href="{{ path('homepage_service_digital_commerce') }}">Prestashop</a></li>
                                            </ul>
                                        </div>
                                        <div class="thumb">
                                            <img class="grow" src="{{ asset('assets-front/imgs/service/service_e-commerce.jpg') }}" alt="image">
                                        </div>
                                    </div>
                                    <div class="service-box fade-anim">
                                        <div class="count">
                                            <span class="number">(03)</span>
                                        </div>

                                        <div class="content">
                                            <h3 class="title"><a href="{{ path('homepage_service_app_development') }}">App Development</a></h3>
                                            <ul class="service-list">
                                                <li><a href="{{ path('homepage_service_app_development') }}">PHP8</a></li>
                                                <li><a href="{{ path('homepage_service_app_development') }}">HTML5</a></li>
                                                <li><a href="{{ path('homepage_service_app_development') }}">Vanilla JS</a></li>
                                                <li><a href="{{ path('homepage_service_app_development') }}">Vue.js</a></li>
                                                <li><a href="{{ path('homepage_service_app_development') }}">Symfony</a></li>
                                                <li><a href="{{ path('homepage_service_app_development') }}">Wordpress</a></li>
                                                <li><a href="{{ path('homepage_service_app_development') }}">Laravel</a></li>
                                            </ul>
                                        </div>
                                        <div class="thumb">
                                            <img class="grow" src="{{ asset('assets-front/imgs/service/service_app-development.jpg') }}" alt="image">
                                        </div>
                                    </div>
                                    <div class="service-box fade-anim">
                                        <div class="count">
                                            <span class="number">(04)</span>
                                        </div>

                                        <div class="content">
                                            <h3 class="title"><a href="{{ path('homepage_service_ai_powered_solutions') }}">Ai Powered Solutions</a></h3>
                                            <ul class="service-list">
                                                <li><a href="{{ path('homepage_service_ai_powered_solutions') }}">Customer Service & Sales</a></li>
                                                <li><a href="{{ path('homepage_service_ai_powered_solutions') }}">Marketing & Content</a></li>
                                                <li><a href="{{ path('homepage_service_ai_powered_solutions') }}">E-Commerce & Sales Optimization</a></li>
                                                <li><a href="{{ path('homepage_service_ai_powered_solutions') }}">Business Operations</a></li>
                                                <li><a href="{{ path('homepage_service_ai_powered_solutions') }}">Data & Insights</a></li>
                                                <li><a href="{{ path('homepage_service_ai_powered_solutions') }}">HR & Recruiting</a></li>
                                                <li><a href="{{ path('homepage_service_ai_powered_solutions') }}">Specialized / Niche AI</a></li>
                                            </ul>
                                        </div>
                                        <div class="thumb">
                                            <img class="grow" src="{{ asset('assets-front/imgs/service/service_ai-solutions.jpg') }}" alt="image">
                                        </div>
                                    </div>
                                    <div class="service-box fade-anim">
                                        <div class="count">
                                            <span class="number">(05)</span>
                                        </div>

                                        <div class="content">
                                            <h3 class="title"><a href="{{ path('homepage_service_wordpress') }}">Wordpress Services</a></h3>
                                            <ul class="service-list">
                                                <li><a href="{{ path('homepage_service_wordpress') }}">WP & Plugin Maintenance</a></li>
                                                <li><a href="{{ path('homepage_service_wordpress') }}">Security & Firewall</a></li>
                                                <li><a href="{{ path('homepage_service_wordpress') }}">Performance & Optimization</a></li>
                                                <li><a href="{{ path('homepage_service_wordpress') }}">Email Marketing</a></li>
                                                <li><a href="{{ path('homepage_service_wordpress') }}">Technical SEO</a></li>
                                                <li><a href="{{ path('homepage_service_wordpress') }}">Community & Profile</a></li>
                                                <li><a href="{{ path('homepage_service_wordpress') }}">Analytics</a></li>
                                            </ul>
                                        </div>
                                        <div class="thumb">
                                            <img class="grow" src="{{ asset('assets-front/imgs/service/service_wordpress.jpg') }}" alt="image">
                                        </div>
                                    </div>
                                    <div class="service-box fade-anim">
                                        <div class="count">
                                            <span class="number">(06)</span>
                                        </div>

                                        <div class="content">
                                            <h3 class="title"><a href="{{ path('homepage_service_web_hosting') }}">Web Hosting</a></h3>
                                            <ul class="service-list">
                                                <li><a href="{{ path('homepage_service_web_hosting') }}">Domain Services</a></li>
                                                <li><a href="{{ path('homepage_service_web_hosting') }}">Websites & Apps</a></li>
                                                <li><a href="{{ path('homepage_service_web_hosting') }}">Email</a></li>
                                                <li><a href="{{ path('homepage_service_web_hosting') }}">Performant Private Servers</a></li>
                                                <li><a href="{{ path('homepage_service_web_hosting') }}">Security & Firewall</a></li>
                                            </ul>
                                        </div>
                                        <div class="thumb">
                                            <img class="grow" src="{{ asset('assets-front/imgs/service/service_webhosting.jpg') }}" alt="image">
                                        </div>
                                    </div>
                                    <div class="service-box fade-anim">
                                        <div class="count">
                                            <span class="number">(07)</span>
                                        </div>

                                        <div class="content">
                                            <h3 class="title"><a href="{{ path('homepage_service_internet_radio') }}">Internet Radio</a></h3>
                                            <ul class="service-list">
                                                <li><a href="{{ path('homepage_service_internet_radio') }}">Web-Based Station Management</a></li>
                                                <li><a href="{{ path('homepage_service_internet_radio') }}">Multi-Station Administration</a></li>
                                                <li><a href="{{ path('homepage_service_internet_radio') }}">Public Pages</a></li>
                                                <li><a href="{{ path('homepage_service_internet_radio') }}">Icecast</a></li>
                                                <li><a href="{{ path('homepage_service_internet_radio') }}">Shoutcast</a></li>
                                            </ul>
                                        </div>
                                        <div class="thumb">
                                            <img class="grow" src="{{ asset('assets-front/imgs/service/service_internet-radio.jpg') }}" alt="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="service-content-wrapper section-spacing-top">
                                <div class="service-content">
                                    <div class="section-info-wrapper fade-anim" data-direction="left">
                                        <div class="thumb parallax-view">
                                            <img src="{{ asset('assets-front/imgs/websitemaster-small.webp') }}" alt="image" data-speed="0.9">
                                        </div>
                                        <div class="text-wrapper">
                                            <p class="text text-invert">Discover our expertise in Website, E-Commerce, App Development, Web Hosting, WordPress services, and Internet Radio.
                                               </p>
                                            <p class="text text-invert">Professional digital solutions to grow your business.</p>
                                        </div>
                                    </div>
                                    <div class="section-thumb-wrapper fade-anim" data-delay="0.45" data-direction="right">
                                        <div class="thumb parallax-view">
                                            <img src="{{ asset('assets-front/imgs/websitemaster-1.webp') }}" alt="image" data-speed="0.8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- service area end  -->

            </main>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--homepage init -->
    <script src="{{ asset('assets/js/pages/homepage.init.js') }}"></script>
{% endblock %}
