{% extends 'public.html.twig' %}

{% block meta_description %}
    <meta name="robots" content="noindex, nofollow">
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets-front/css/auth.css') }}">
{% endblock %}

{% block content %}

    <div class="has-smooth" id="has_smooth"></div>
    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>

                <!-- login area start  -->
                <section class="contact-area-contact-page pb-130">
                    <div class="container">
                        <div class="section-spacing-top">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-8 col-sm-10">
                                    <div class="auth-form-wrapper py-lg-5">

                                        {{ include('default/_flash_messages.html.twig') }}

                                        <div class="row justify-content-center">
                                            <div class="col-12">
                                                <div class="card mt-4">
                                                    <div class="card-body p-4 text-center">
                                                        <lord-icon src="https://cdn.lordicon.com/hzomhqxz.json" trigger="loop" colors="primary:#4b38b3,secondary:#08a88a" class="logout-icon">
                                                        </lord-icon>

                                                        <div class="mt-4 pt-2">
                                                            <h5>You are Logged Out</h5>
                                                            <p class="text-muted">Thank you for using <span class="fw-semibold">Websitemaster</span> App</p>
                                                            <div class="mt-4">
                                                                <a href="{{ path('security_login') }}" class="rr-primary-btn w-100 text-center">Sign In</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end card body -->
                                                </div>
                                                <!-- end card -->

                                            </div>
                                            <!-- end col -->
                                        </div>
                                        <!-- end row -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- contact area end  -->

            </main>

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ include('partials/vendor-scripts.html.twig') }}

    {{ parent() }}

{% endblock %}
