{% extends 'public.html.twig' %}

{% block meta_description %}
    <meta name="robots" content="noindex, nofollow">
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="rainbow-prfile-area rainbow-section-gap">
        <div class="container">

            {{ include('default/_flash_messages.html.twig') }}

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Passwort vergessen?</h5>
                                <p class="text-muted">Passwort zurücksetzen mit Exedra</p>

                                <lord-icon src="https://cdn.lordicon.com/rhvddzym.json" trigger="loop" colors="primary:#0ab39c" class="avatar-xl">
                                </lord-icon>

                            </div>

                            <div class="alert alert-borderless alert-warning text-center mb-2 mx-2" role="alert">
                                Geben Sie Ihre E-Mail-Adresse ein, und wir schicken Ihnen eine Anleitung zu!
                            </div>
                            <div class="edu-contact-form contact-form-style-1 w-100">

                                {{ include('default/_flash_messages.html.twig') }}
                                {{ form_errors(form) }}

                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {{ form_start(form) }}
                                <div class="form-group position-relative mb-4 mt-5">
                                    {{ form_row(form.identity) }}
                                    <span class="focus-border"></span>
                                </div>

                                <div class="text-center mt-4">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    {{ form_widget(form.submit) }}
                                </div>
                                {{ form_end(form) }}

                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="mt-4 text-center">
                        <p class="mb-0">Warte, ich erinnere mich an mein Passwort... <a href="{{ path('security_login') }}" class="fw-semibold text-primary text-decoration-underline"> Hier klicken </a> </p>
                    </div>

                </div>
            </div>
            <!-- end row -->

        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ include('partials/vendor-scripts.html.twig') }}

    {{ parent() }}

{% endblock %}