{% extends 'app.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}

    <div class="page-content">
        <div class="container-fluid">

            {{ include('partials/page-title.html.twig', { pagetitle: 'page_title.references'|trans, title: 'page_title.references'|trans }) }}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row justify-content-between gy-3">
                                <div class="col-lg-10">
                                    <form method="get">
                                        <div class="row g-2">
                                            <div class="col-xxl-5 col-sm-6">
                                                <div class="search-box">
                                                    <input type="text" class="form-control search" name="query" value="{{ app.request.get('query') }}" placeholder="{{ 'text.search'|trans }}">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xxl-1 col-sm-4">
                                                <div>
                                                    <button type="submit" class="btn btn-primary w-100"> <i class="ri-equalizer-fill me-1 align-bottom"></i>
                                                        {{ 'button.find'|trans }}
                                                    </button>
                                                </div>
                                            </div>
                                            <!--end col-->
                                        </div>
                                        <!--end row-->
                                    </form>
                                </div>
                                <div class="col-lg-auto">
                                    <div class="d-md-flex text-nowrap gap-2">
                                        <button class="btn btn-primary add-btn" data-bs-toggle="modal" data-bs-target="#showModal"><i class="ri-add-fill me-1 align-bottom"></i> Referenz hinzufügen</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            {{ form_errors(form) }}

            <div class="row row-cols-xxl-5 row-cols-lg-3 row-cols-md-2 row-cols-1">
                {% if references|length >= 1 %}
                    {% for reference in references %}
                        <div class="col">
                            <div class="card category-card">
                                <div class="card-body text-center">
                                    <div class="delete-icon d-flex justify-content-end">
                                        <a class="remove-item-btn" data-bs-toggle="modal" href="#deleteRecordModal" data-id="{{ reference.id }}">
                                            <i class="ri-delete-bin-fill text-muted"></i>
                                        </a>
                                    </div>
                                    <div class="mx-auto mb-3">
                                        {% if reference.logo %}
                                            <img src="{{ reference_logo(reference) | imagine_filter('reference_thumb') }}" alt="" style="object-fit: contain;" />
                                        {% else %}
                                            <lord-icon src="https://cdn.lordicon.com/xulniijg.json" trigger="hover" colors="primary:#40e0d0" target="div" style="width:50px;height:50px"></lord-icon>
                                        {% endif %}
                                    </div>
                                    <!-- Add data-id attribute here -->
                                    <a href="#!" class="edit-reference-card" data-id="{{ reference.id }}">
                                        <h5 class="mt-4">{{ reference.name }}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="noresult">
                        <div class="text-center">
                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#405189,secondary:#0ab39c" style="width:75px;height:75px"></lord-icon>
                            <h5 class="mt-2">{{ 'error.no_references_found'|trans }}</h5>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    <div class="p-2">{{ 'text.total_items'|trans({'%number%': references.getTotalItemCount}) }}</div>
                    <div class="p-2">{{ knp_pagination_render(references) }}</div>
                </div>
            </div>

            <!-- Delete Reference Modal -->
            <div class="modal fade flip" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body p-5 text-center">
                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                            <div class="mt-4 text-center">
                                <h4>Sie sind dabei, eine Referenz zu löschen!</h4>
                                <p class="text-muted fs-15 mb-4">Das Löschen einer Referenz entfernt alle zugehörigen Informationen aus unserer Datenbank.</p>
                                <form id="deleteCategoryForm" action="" method="POST">
                                    <div class="hstack gap-2 justify-content-center remove">
                                        <button type="button" class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal" data-bs-toggle="modal">
                                            <i class="ri-close-line me-1 align-middle"></i> {{ 'button.close'|trans }}
                                        </button>
                                        <button class="btn btn-danger" type="submit">{{ 'label.delete'|trans }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end modal -->

            <!-- Placeholder for dynamically loaded modal -->
            <div id="referenceModalPlaceholder"></div>

            <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content border-0">
                        <div class="modal-header bg-info-subtle p-3">
                            <h5 class="modal-title" id="exampleModalLabel">Referenz hinzufügen</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                        </div>

                        {{ form_errors(form) }}

                        <form id="referenceForm" autocomplete="off" class="needs-validation tablelist-form" novalidate action="{{ path('admin_references_create') }}" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                <input type="hidden" id="id-field" />
                                <div class="row g-3">
                                    <div class="col-lg-12">
                                        <div>
                                            {{ form_row(form.name) }}
                                            <div class="invalid-feedback">Bitte Namen eingeben</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div>
                                            {{ form_row(form.url) }}
                                            <div class="invalid-feedback">Bitte URL eingeben</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            {{ form_label(form.imageFile) }}
                                            {% if form.vars.value.logo %}
                                                <div class="mb-3">
                                                    <img src="{{ vich_uploader_asset(form.vars.value, 'imageFile') }}" alt="Profile Picture" width="100" height="100" />
                                                </div>
                                            {% endif %}
                                            {{ form_widget(form.imageFile) }}
                                            {{ form_errors(form.imageFile) }}
                                        </div>
                                        <div class="text-muted">Die besten Ergebnisse erzielen Sie, wenn Sie ein Bild mit 960x540px und weißem oder transparentem Hintergrund hochladen.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ 'button.close'|trans }}</button>
                                    {{ form_widget(form.submit) }}
                                </div>
                            </div>
                            {{ form_row(form._token) }}
                        </form>
                    </div>
                </div>
            </div>
            <!--end add modal-->

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
{% endblock %}

{% block javascripts %}

    <!-- validation init -->
    <script src="{{ asset('assets/js/pages/form-validation.init.js') }}"></script>
    <!-- Custom Trade Categories js -->
    <script src="{{ asset('assets/js/pages/references.init.js') }}"></script>

    {{ parent() }}

{% endblock %}