<div class="modal fade" id="EditReferenceModal" tabindex="-1" aria-labelledby="EditReferenceModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0">
            <div id="referenceModalContent">

                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="editBrand">{{ 'title.reference'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                </div>

                {{ form_errors(form) }}

                <form id="editReferenceForm" autocomplete="off" class="needs-validation tablelist-form" novalidate
                      action="{{ path('admin_references_edit', {'id': id}) }}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" id="id-field" />
                        <div class="row g-3">
                            <div class="mb-3">
                                {{ form_row(form.name) }}
                                <div class="invalid-feedback">{{ 'error.enter_name'|trans }}</div>
                            </div>
                            <div class="mb-3">
                                {{ form_row(form.url) }}
                                <div class="invalid-feedback">Please enter url</div>
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.imageFile) }}
                                {% if reference.logo %}
                                    <div class="mb-3">
                                        <img src="{{ vich_uploader_asset(reference, 'imageFile') }}" alt="Frontpage Image" width="100" height="100" />
                                    </div>
                                {% endif %}
                                {{ form_widget(form.imageFile) }}
                                {{ form_errors(form.imageFile) }}
                                <div class="text-muted">For best results upload an image with 960x540px and white or transparten background.</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-soft-dark" data-bs-dismiss="modal">{{ 'button.close'|trans }}</button>
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                </form>

            </div>
        </div>
    </div>
</div>
<!--end add modal-->

{% block javascripts %}

    <!-- validation init -->
    <script src="{{ asset('assets/js/pages/form-validation.init.js') }}"></script>
    <!-- Custom Brand js -->
    <script src="{{ asset('assets/js/pages/references.init.js') }}"></script>

{% endblock %}